<section class="bill-of-rights-slider">
  <div class="wrap">
    <div class="bill-descriptions-container">
      <h2>Your SVS <span>Bill of Rights</span></h2>
      <div id="rights-item-1" class="active rights-item">
        <h3><i class="fa fa-angle-double-right"></i>45 DAY RISK-FREE IN-HOME TRIAL, FAST & FREE SHIPPING AND RETURNS</h3>
        <p>
          Enjoy a full 45-day in-home audition with any item purchased from SVS. There is no better way to evaluate an audio product than connected to your gear and placed exactly where it will go in your living space. If you're unhappy for any reason, return it for a refund...no questions asked. We'll even pay for return shipping.
        </p>
      </div>
      <div id="rights-item-2" class="rights-item">
        <h3><i class="fa fa-angle-double-right"></i>60-DAY GUARANTEED PRICE PROTECTION</h3>
        <p>
          If the price drops on a product you purchased within 60 days of your purchase, we will refund you the difference, no questions asked.
        </p>
      </div>
      <div id="rights-item-3" class="rights-item">
        <h3><i class="fa fa-angle-double-right"></i> LIFETIME SVS SOUND EXPERTS TECH SUPPORT </h3>
        <p> For as long as you own your product, our SVS Sound Experts are available to provide technical support for your entire AV system. It’s like having a professional audio and home theater specialist on call to help with set-up, troubleshooting, placement, and optimization needs for every component you own, regardless of brand. </p>
      </div>
      <div id="rights-item-4" class="rights-item">
        <h3><i class="fa fa-angle-double-right"></i>1-Year Trade-Up Policy</h3>
        <p> Any product purchased from SVS can be traded within 1 year for full credit towards the purchase of a more expensive like product. </p>
      </div>
      <div id="rights-item-5" class="rights-item">
        <h3><i class="fa fa-angle-double-right"></i>5-Year Unconditional Warranty</h3>
        <p> SVS offers the industry's most comprehensive warranty on all our products. SVS warrants of all its products to be free from defects in the workmanship for 5 years from date of purchase. </p>
      </div>
      <div id="rights-item-6" class="rights-item">
        <h3><i class="fa fa-angle-double-right"></i>1-Year "No Lemon" Guarantee</h3>
        <p> We replace any product purchased from SVS that requires repairs or parts replacement 3 times within the first year of ownership. If a replacement is not available, we offer full credit toward the purchase of a like product. </p>
      </div>
      <div id="rights-item-7" class="rights-item">
        <h3><i class="fa fa-angle-double-right"></i> 90-DAY DEFECTIVE REPLACEMENT GUARANTEE </h3>
        <p> We will replace any product purchased from SVS that becomes defective within 90 days of purchase. </p>
      </div>
      <div id="rights-item-8" class="rights-item">
        <h3><i class="fa fa-angle-double-right"></i> 1-YEAR PERFORMANCE UPGRADE </h3>
        <p> If SVS improves the performance of a model you purchased, we will upgrade it to current standards at no charge within 1 year of your purchase. </p>
      </div>
    </div>
    <ul class="bill-hover-icons">
      <li><a href="#rights-item-1" class="active"><img src="{{ 'bill-of-rights-slider__icon-1.jpg' | asset_url }}"></a></li>
      <li><a href="#rights-item-2"><img src="{{ 'bill-of-rights-slider__icon-2.jpg' | asset_url }}"></a></li>
      <li><a href="#rights-item-3"><img src="{{ 'bill-of-rights-slider__icon-3.jpg' | asset_url }}"></a></li>
      <li><a href="#rights-item-4"><img src="{{ 'bill-of-rights-slider__icon-4.jpg' | asset_url }}"></a></li>
      <li><a href="#rights-item-5"><img src="{{ 'bill-of-rights-slider__icon-5.jpg' | asset_url }}"></a></li>
      <li><a href="#rights-item-6"><img src="{{ 'bill-of-rights-slider__icon-6.jpg' | asset_url }}"></a></li>
      <li><a href="#rights-item-7"><img src="{{ 'bill-of-rights-slider__icon-7.jpg' | asset_url }}"></a></li>
      <li><a href="#rights-item-8"><img src="{{ 'bill-of-rights-slider__icon-8.jpg' | asset_url }}"></a></li>
    </ul>
{%comment%}    {% unless hide_ca == true %}
    <a class="canadian-link" href="/pages/canadian-bill-of-rights">Canadian Customers: View your bill of rights</a>
    {% endunless %}
{%endcomment%}    
  </div>
</section>