	<div class="blog-post-view__header featured-systems" style="background-image: url('{{ 'featured-home-theater.jpg' | asset_url }}');">
		<div class="blog-list-view__header-copy">
			<h1>SVS Featured <span>Home Theaters</span></h1>
		</div>
	</div>

	<div class="su"> Test </div>

	<div class="wrap">
		<div class="container-fluid">
          <div class="row">
          <section class="featured-systems col-md-9 col-sm-12">

              <div class="featured-systems__header">
                  <h2>From Our Customers</h2>
                  <p>Great gear, great sound, and great experiences. At SVS nothing excites us like seeing our products in action so we’re proud to showcase real systems from our customers and fans. Click in to see the photos and read their stories!</p>
              </div>

              <div class="featured-systems__posts cf row">

                  {% for article in blog.articles %}
                      {% if article.image != blank %}
                          {% assign blog-header = article.image %}
                      {% else %}
                          {% assign blog-header = 'featured-system.jpg' %}
                      {% endif %}
                  <div class="post col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <a href="{{ article.url }}">
                          <img src="{{ blog-header | img_url: 'large' }}" alt="{{ article.title }}">
                          <h2>{{ article.title }}</h2>
                      </a>
                  </div>
                  {% endfor %}

              </div>

          </section>

          {% include 'blog-sidebar_V2' %}
      </div>
      </div>

	</div>
