{{ 'ultra16.css' | asset_url | stylesheet_tag }}

<script src="https://cdn.shopify.com/s/files/1/0921/3560/files/unslider-min.js?4614958483608292717"></script>

<div class="ultra-16-landing-wrap">
    <section class="">
        <div class="wrap">
            <div class="intro">
                <!-- <img src="{{ 'prime_elevation_header.jpg' | asset_url }}" class="elevation-header-img"> -->
                <img src="{{ 'u16-header.jpg' | asset_url }}" class="ultra-16-header-img desktop">
                <img src="{{ '16-ultraheader-mobile.jpg' | asset_url }}" class="ultra-16-header-img mobile">

                <!-- <h1> SVS SB16-Ultra and PB16-Ultra Subwoofers </h1> -->
                <!--<h2 class="heading-border"> The Ultimate Reference Standard for Bass Has Arrived. SVS 16-Ultra Series. </h2>-->
                <!-- <h3> A Tour-de-Force of Subwoofer Engineering </h3> -->
                <p>
                    The new 16-Ultra Series are the biggest and most powerful SVS subwoofers ever built and the culmination of all SVS engineering advancements, but that’s only part of the story. <span class="break">SVS designed a completely new driver, amplifier and cabinet, scrutinized every design element and pioneered <em>3 game-changing subwoofer</em> innovations to achieve unprecedented output levels, extreme low frequency extension, near-perfect frequency response accuracy, and pinpoint transient response.</span>
                </p>
                <p>
                    One of these innovations would’ve made the 16-Ultra Series an engineering tour-de-force, but the combination of 3 subwoofer firsts and all new driver, amplifier and control platforms propel the SB16-Ultra and PB16-Ultra into the pantheon of all-time great audio products.
                </p>
            </div>

            <h2> Masterful Engineering. 3 Game-Changing Innovations. </h2>

            <div class="cf mod-wrap">
                <div class="module-3-1">
                    <div class="image"> </div>
                    <div class="text" data-match-height="group-name3-1">
                        <p> Massive All New 16” Ultra Driver with Unprecedented 8” Edge Wound Voice Coil. </p>
                    </div>
                </div>

                <div class="module-3-2">
                    <div class="image"> </div>
                    <div class="text" data-match-height="group-name3-1">
                        <p>
                            Stunningly Powerful 1,500 Watts Continuous, 5,000+ Watts Peak Power Sledge Amplifier with Fully Discrete MOSFET Output.
                        </p>
                    </div>
                </div>
                <div class="module-3-3">
                    <div class="image"> </div>
                    <div class="text" data-match-height="group-name3-1">
                        <p> Groundbreaking New Subwoofer Control and Bass Management Smartphone App for Apple® and Android® Devices. </p>
                    </div>
                </div>
            </div>
            <p>
              The SB16-Ultra and PB16-Ultra Subwoofers obliterate expectations with room-shaking levels of low frequency extension and massive output with pinpoint accuracy and speed in transients resulting in the ultimate bass experience.
            </p>

            <div class="cta-wrap cf" id="anchor1">
                <div class="half">
                    <p> Learn more about SB16-Ultra. $1,999.99 each </p>
                    <a href="/products/sb16-ultra" class="cta-lm" onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Learn More - SB16-Ultra 1');"> Learn More </a>

                    <form method="post" name="addtocart" action="/cart/add">
                    <input type="hidden" name="id" value="29705182156" />
                    <a href="#" class="cta-bn" onclick="$(this).closest('form').submit(); ga('send', 'event', '16-Ultra Category Page', 'Click', 'Buy Now - SB16-Ultra 1'); return false; "> Add to Cart </a>
                </form>
                </div>

                <div class="half">
                    <p> Learn more about PB16-Ultra. $2,499.99 each </p>
                    <a href="/products/pb16-ultra" class="cta-lm" onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Learn More - PB16-Ultra 1');"> Learn More </a>

                    <form method="post" name="addtocart" action="/cart/add">
                    <input type="hidden" name="id" value="29707906572" />
                    <a href="#" class="cta-bn" onclick="$(this).closest('form').submit(); ga('send', 'event', '16-Ultra Category Page', 'Click', 'Buy Now - PB16-Ultra 1'); return false; "> Add to Cart </a>
                </form>
                </div>
            </div>

            <div class="module-1 cf">
                <div class="image" data-match-height="group-name1"> </div>

                <div class="text" data-match-height="group-name1">
                    <h3> Massive All New 16” Ultra Driver with Unprecedented 8” Edge Wound Voice Coil. </h3>
                    <h5> 16” Driver with Record-Breaking 8” Edge Wound Voice Coil </h5>
                    <p>
                        To handle the crushing power of a 16” driver, SVS designed a massive 8” edge wound voice coil, the largest ever deployed in a consumer subwoofer. This innovation ensures ultra-low distortion and pinpoint control at the highest drive levels resulting in incredible output and low frequency extension, with accuracy in frequency response and speed in transients.
                    </p>
                    <h5>World-Class Driver Materials and Technology</h5>
                    <p>
                        Four of the heaviest toroidal ferrite magnets used in a consumer subwoofer generate unprecedented levels of magnetic force to drive the highest levels of excursion, SPL, and low frequency output. Cone material is a rigid but lightweight fiberglass resin composite that never flexes and conveys subtle and room-shaking low frequency effects with equal aplomb.
                    </p>
                </div>
            </div>

            <div class="module-2 cf">
                <div class="image" data-match-height="group-name1"> </div>

                <div class="text" data-match-height="group-name1">
                    <h3> Stunningly Powerful 1,500 Watts Continuous, 5,000+ Watts Peak Power Sledge Amplifier with Fully Discrete MOSFET Output. </h3>
                    <h5> Fully Discrete MOSFET Output from Highly Efficient Class D Sledge Amplifier </h5>
                    <p>
                        Robust 64 Amp 200-Volt MOSFET’s provide the sonic muscle behind the astonishingly powerful 1,500 watts continuous, 5,000+ watts peak power amplifier with fully discrete output. MOSFET output offers far superior power handling and tighter control when compared to the integrated circuit output stage found in nearly all other Class D subwoofer amplifiers.
                    </p>
                    <h5> Sophisticated Analog Devices Audio DSP with Active Power Correction </h5>
                    <p>
                        Effortless power must be harnessed to ensure refined behavior and pristine output at the most demanding drive levels. The 16-Ultra Series subwoofers use the audio industry’s most advanced Analog Devices Audio DSP to handle the nearly limitless power so the perfect amount of low frequency energy is released at just the right time and just the right frequency. To ensure a steady flow of power, the amplifier uses an active Power Factor Correction (PFC) regulator to smooth input current to a clean and steady 360V DC, while using 30-50% less current than a subwoofer without PFC.
                    </p>
                </div>
            </div>

            <div class="module-5 cf" id="anchor3">
                <div class="image" data-match-height="group-name1"> </div>

                <div class="text" data-match-height="group-name1">
                    <h3> Groundbreaking New Subwoofer Control and Bass Management Smartphone App for Apple® and Android® Devices.  </h3>
                    <h5>Subwoofer Control and DSP Is Easier and More Convenient than Ever </h5>
                    <p>
                        The 16-Ultra subwoofer app is the most powerful bass management and subwoofer control app ever developed and the easiest way ever to adjust volume, crossover frequencies, parametric EQ, polarity, room gain and all other DSP functions. It also features convenient custom presets for one-touch tuning in any room or system, from your favorite seat.
                    </p>
                    <p>
                        Bi-directional feedback shows adjustments in real time on both the app and subwoofer interface and Bluetooth connectivity allows control, even when the subwoofer is out of sight.
                    </p>
                    <div class="app-stores">
                        <a href="https://play.google.com/store/apps/details?id=com.svsound.svs" target="_blank" onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'App Button - Google');">
                            <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/google_play_button.png?7555066196431922316">
                        </a>
                        <a href="https://itunes.apple.com/us/app/svs/id1148462104?ls=1&mt=8" target="_blank" onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'App Button - Apple');">
                            <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/app_store_button.png?7555066196431922316">
                        </a>
                        <p> Google Play and the Google Play logo are trademarks of Google Inc. </p>
                    </div>
                </div>
            </div>

            <div class="cta-wrap cf" id="anchor1">
                <div class="half">
                    <p> Learn more about SB16-Ultra. $1,999.99 each </p>
                    <a href="/products/sb16-ultra" class="cta-lm" onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Learn More - SB16-Ultra 2');"> Learn More </a>

                    <form method="post" name="addtocart" action="/cart/add">
                    <input type="hidden" name="id" value="29705182156" />
                    <a href="#" class="cta-bn" onclick="$(this).closest('form').submit(); ga('send', 'event', '16-Ultra Category Page', 'Click', 'Buy Now - SB16-Ultra 2'); return false; "> Add to Cart </a>
                </form>
                </div>

                <div class="half">
                    <p> Learn more about PB16-Ultra. $2,499.99 each </p>
                    <a href="/products/pb16-ultra" class="cta-lm" onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Learn More - PB16-Ultra 2');"> Learn More </a>

                    <form method="post" name="addtocart" action="/cart/add">
                    <input type="hidden" name="id" value="29707906572" />
                    <a href="#" class="cta-bn" onclick="$(this).closest('form').submit(); ga('send', 'event', '16-Ultra Category Page', 'Click', 'Buy Now - PB16-Ultra 2'); return false; "> Add to Cart </a>
                </form>
                </div>
            </div>

            <div class="module-4-2 cf">
                <div class="text"> <h3> An Engineering Tour de Force </h3> </div>
                <a href="/products/sb16-ultra" onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Explode Image Desktop')"><img src="{{ '16-ultra-callouts.jpg' | asset_url }}" class="desktop"></a>
                <a href="/products/sb16-ultra" onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Explode Image Mobile')"><img src="{{ '16u-exploded-view-mobile.jpg' | asset_url }}" class="mobile"></a>
            </div>


            <div class="module-cross-sell cf">
                <h2> Check out all of our award-winning subwoofers. </h2>
                <div class="thirds">
                    <a href="/pages/subwoofers#1000-series" onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Award Winning Subwoofers - 1000 Series');">
                        <h4> 1000 Series </h4>
                        <img src="{{ 'cross-sell-1k.jpg' | asset_url }}">
                    </a>
                    <a href="/pages/subwoofers#1000-series" class="cta-lm" onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Award Winning Subwoofers - 1000 Series');"> Learn More </a>
                </div>
                <div class="thirds">
                    <a href="/pages/subwoofers#2000-series" onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Award Winning Subwoofers - 2000 Series');">
                        <h4> 2000 Series </h4>
                        <img src="{{ 'cross-sell-2k.jpg' | asset_url }}">
                    </a>
                    <a href="/pages/subwoofers#2000-series" class="cta-lm" onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Award Winning Subwoofers - 2000 Series');"> Learn More </a>
                </div>
                <div class="thirds">
                    <a href="/pages/subwoofers#ultra-series" onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Award Winning Subwoofers - Ultra Series');">
                        <h4> Ultra Series </h4>
                        <img src="{{ 'cross-sell-ultra.jpg' | asset_url }}">
                    </a>
                    <a href="/pages/subwoofers#ultra-series" class="cta-lm" onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Award Winning Subwoofers - Ultra Series');"> Learn More </a>
                </div>
            </div>

            <div class="cf mod-wrap">
                <div class="module-6 cf">
                    <div class="image" data-match-height="group-name1"> </div>

                    <div class="text" data-match-height="group-name1">
                        <h3> svs bill of rights </h3>
                        <p>
                            Choosing SVS means you also get our 45-day Risk-Free In-Home Trial, Fast & Free Shipping and Returns, a One-Year Trade-up Policy, 5-Year Unconditional Warranty and other valuable benefits included in our SVS Customer Bill of Rights.
                        </p>
                    </div>
                </div>

                <div class="module-7 cf">
                    <div class="image" data-match-height="group-name1"></div>

                    <div class="text" data-match-height="group-name1">
                        <h3> svs sound experts </h3>
                        <p>
                            Our Sound Experts provide technical support for your entire AV system and take the time to ask about room layout, AV components, listening preferences and other things that are important to making the perfect decisions.
                        </p>
                    </div>
                </div>
            </div>

            <div class="world-of-svs">
                <img src="">
                <p>
                    Get helpful advice from our Sound Experts blog, check out SVS Featured Owner Systems, learn about artists/producers who use SVS and check out our social sites in the always fresh <a href="/blogs/svs" onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Sound Experts - World of SVS');">World of SVS</a> section of our site. Here’s some posts that may interest you:
                </p>
                <div class="blog-links">
                    <a href="/blogs/svs/75347907-choosing-the-best-subwoofer-for-your-home-theater"
                    onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Choosing the Best Subwoofer for Your Home Theater');">
                        Choosing the Best Subwoofer for Your Home Theater
                    </a>
                    <a href="/blogs/svs/75040195-why-go-dual" class="bp"
                    onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Why Go with Dual Subwoofers?');">
                        Why Go with Dual Subwoofers?
                    </a>
                    <a href="/blogs/svs/75367747-sealed-vs-ported" class="bp"
                    onclick="ga('send', 'event', '16-Ultra Category Page', 'Click', 'Sealed vs. Ported Subwoofers: A Comparison');">
                        Sealed vs. Ported Subwoofers: A Comparison
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
	jQuery(document).ready(function($) {
		$('.my-slider').unslider({
        	animateHeight: true
        });
	});
</script>
