<section class="about__summary">
	<div class="wrap">
		<h1><span>About</span> SVS</h1>
		<p>
			At SVS, we believe world-class audio experiences should be within everyone’s reach. Our speakers, subwoofers and SoundPath audio accessories refute the notion that exceptional sound quality has to be ridiculously expensive. The SVS design approach involves
			a fusion of leading edge technology, precision engineering, exhaustive lab and real-world testing, as well as, a deep personal passion for audio excellence, all brought to life by our acoustic engineers. With every new product, we strive to redefine
			audio performance for the price.
		</p>

		<p>
			But that’s only part of the SVS Experience. We also stand behind our products with the <a href="/pages/bill-of-rights">SVS Customer Bill of Rights</a>, a benefits package that includes a 45-Day Risk-Free In-Home Trial, Fast and Free Shipping and Returns,
			our industry-leading 5-Year Unconditional Warranty, and more. We’re so confident you’ll love our audio gear that we made it completely painless to audition for yourself in the best place possible, your home.
		</p>

		<p>
			From the coherent soundstage, pinpoint imaging, superb detail and sonic transparency of our reference-grade loudspeakers, to the subterranean extension, chest-thumping slam, and unerring accuracy of our acclaimed subwoofers – our award-winning SVS product
			line-up guarantees you a thrilling audio experience.
		</p>

		<p>
			And since you’re supported by <a href="/pages/customer-service">SVS Sound Experts</a> support for the life of your product, you can rest easy knowing the best technical and customer service team on the planet is standing by to help you though research,
			set-up, troubleshooting and calibration for every part of your home theater or audio system.
		</p>
	</div>
</section>
<section class="about__team">
	<div class="wrap">
		<h2>Our <span>Team</span></h2>
		<p>
			Our taste in everything from music and gaming to binge-worthy TV and movies may differ, but we all share a passion for immersive audio experiences and we all understand what it takes to design, build and support the finest audio products in the world.
		</p>
		<ul>
			<li>
				<img src="{{ 'gary.jpg' | asset_url }}">
				<h3><span>Gary</span> Yacoubian, CEO</h3>
				<p>
					Gary leads the charge at SVS with a passionate, hands-on approach backed by a tireless work ethic. His leadership is critical to all aspects of product development, engineering, customer service, operations, marketing and sales and he works closely with
					each department to make sure they are invested in the SVS mission and resourced appropriately.
				</p>
				<p>
					A fierce proponent of accountability and the customer-first mentality, Gary interacts with SVS dealers, owners and potential customers every day through social media, email and other channels. With more than 25 years invested in consumer electronics on
					the retail and corporate side, Gary is an industry icon who always has his finger on the pulse of SVS and the audio industry in general.
				</p>
				<p>
					Gary’s retail experience got him into lots of people's homes, where he learned up close how they use and enjoy technology. His manufacturing experience taught him the best practices for designing and building world-class products, but he has always been
					an enthusiast with a love for audio and home theater above all else, which has helped him the most at SVS.
				</p>
				<p>
					Gary currently lives in Maryland with his wife and has two sons, one of which is headed off to college. He also has two dogs and most enjoys the thrill of live music during his free time, a sonic sensation which he tries to capture with every SVS audio
					product.
				</p>
				<p>
					Gary has served on the Executive Board of the Consumer Technology Association (CTA), the organization that holds International CES is Las Vegas. As a past Chair, his appointment marked the first time in the Association's history that a CE retail executive
					had taken a senior leadership position with its Board. He is Past Chair of CTA’s Division Executive Board, the governing body of all of that Association’s Divisions, and is currently serving on CTA’s Audio Division Board. Gary has served on numerous
					committees and industry panels for the Association and others in the Consumer Electronics industry and has also served on the advisory boards of several audio/video manufacturers.
				</p>
				<p>
					Gary has been featured as a commentator on local Washington, DC television news programs, and has been frequently quoted in The Washington Post and Washingtonian magazine on consumer electronics topics, as well as in numerous industry trade magazines.
					He also has a regular column in Dealerscope Magazine.
				</p>

				<h4> Listening at Home: </h4>
					<p>
						7.1.4 Home theater with Ultra Towers (front), Ultra Center, Ultra Surrounds (back), 4 Prime Elevation (height), Prime Elevation (side), and Ultra Subwoofer
					</p>
					<p> Two channel system with Ultra Bookshelf </p>
					<p> 5.1 Home theater with Prime Tower, Prime Center, Prime Bookshelf, SB-2000 </p>
					<p> Prime Satellite 2.1 system </p>

				<h4> On Sound Quality: </h4>
				<p>
					"Music has been my passion literally since before I could talk, or at least so that has been reported to me by my parents!! Because of that, the love of great sound has been a part of my life as far back as I can remember, so it is obvious to anyone who
					knows me why I was drawn to the audio industry. I’ve managed audio companies from both the retail and manufacturing side, so you could make the case that my whole life prepared me for my role at SVS, since we get to make awesome audio products that
					connect people to the music and movies they (and I) love, plus I get to talk directly to the folks who enjoy our products. How cool is that?"
				</p>

			</li>
			<li>
				<img src="{{ 'dan.jpg' | asset_url }}">
				<h3><span>Dan</span> Marks, Vice President, Operations </h3>
				<p>
					Dan started at SVS in 2002 building subwoofers in the garage that the company then occupied. No one on the planet knows more about what it takes to build and bring to market a high performance subwoofer. Dan manages operations in our Youngstown, Ohio
					headquarters and supervises quality control that occurs almost to the molecular level. He also makes sure SVS keeps all of its promises to you by managing all aspects of logistics, web site management, international sales, senior level management
					and more. During his time at SVS, Dan shown a remarkable ability to adapt and overcome any challenges presented to him. He is the perpetual MVP.
				</p>
				<p>
					Dan lives in Ohio with his loyal German Shepard, Cabo. When he’s not getting huge at the gym, he can be found sipping a craft beer and watching the Buckeyes or cooking up a meal for a crowd to enjoy. A good word to describe his sense of humor would be
					“edgy”. He also likes baking.
				</p>
				<h4> On Sound Quality: </h4>
				<p>
					“I’m huge on premium TV, movies and music and the feeling of expectation that comes before you put something new on. When you have an awesome audio system, it just elevates the experience so much more than just having a big screen. I love seeing the WOW
					factor on friend’s faces, especially when I play something they’ve heard for years and some new instrumental or effect sticks out because they’ve never actually listened to great speakers. We also entertain a lot so it’s cool to have a system that
					gets people’s attention.”
				</p>
				<h4> Listening at Home: </h4>
				<p> SVS Prime Towers, Prime Center and Prime Satellites with SB-2000 Subwoofer </p>

			</li>
			<li>
				<img src="{{ 'ed.jpg' | asset_url }}">
				<h3><span>Ed</span> Mullen, Director of Technology & Customer Relations</h3>
				<p>
					An SVS veteran who has helped more SVS customers than all others combined, Ed's wide-ranging experience at SVS includes sales, tech support, product development, R&D, administrative/executive management and more. Ed's primary responsibility is managing
					the SVS Sound Experts Customer Care team and leading direct sales. Ed is also responsible for much of the website technical content, and remains the long-standing and respected 'face of SVS' in the blogs and AV forums. A licensed professional engineer
					and an expert in subwoofer theory and design, Ed also serves as an important technical resource for our product development staff.
				</p>
				<p>
					Ed enjoys a number of manly pursuits including archery, drag racing, knife collecting, bow hunting, precision long-range shooting and muscle cars. He is also a state certified hunter safety instructor and an accomplished woodsman. His tastes range from
					Gotham and 12 Monkeys to Sleepy Hollow and Blind Spot. Ed has one son, a yellow lab and a Jack Russell mix at home, and is a widower.
				</p>
				<h4> On Sound Quality: </h4>
				<p>
					“A great sounding audio system lets me become fully immersed in the music or movie. When I am transported by the artist or director and forget I’m listening to an audio system – that experience is true audio nirvana.”
				</p>
				<h4> Listening at Home: </h4>
				<p> In my Living/Family Room, I have an SVS Prime 5.1 with two Towers, a center and two Satellites for the rears, with a PC-2000 handling the low end. </p>
				<p> In the dedicated home theater, I have an SVS M-series (discontinued) 7.1 system, along with complete room treatments (bass traps, panels, diffusers) and dual PB12-Ultra/2 subwoofers. </p>
			</li>
            <li>
                <img src="{{ 'mitch.jpg' | asset_url }}">
                <h3><span>Mitch</span> Witten, Senior Director, Strategic Development</h3>
                <p>
                    A seasoned audio veteran with over 30 years invested in the world of great sound, Mitch Witten is a product visionary for SVS who helps the company push the envelope of audio innovation and product excellence to new levels. He has extensive knowledge gained from working with some of the largest and most influential audio brands in the world and understands the challenging intricacies of creating amazing sounding products.
                </p>
                <p>
                    An avid music and film lover and constant tinkerer, Mitch was always taking things apart growing up and put together his first complete audio system at the age of twelve. He’s been smitten with the audio and sound quality ever since. This passion for immersive technology is an instrumental force for SVS as the company expands its audio offerings into new realms.
                </p>
                <p>
                    Mitch currently resides in Southern California with his wife Barbara, their two boxers Cleo and Jamba, and their cat Santana. He plays guitar and a several other instruments and is a live music junkie who grew up in the golden era of rock but is no stranger to jazz clubs, symphony hall, the opera house, musical theater, and the ballet.
                </p>
                <h4> On Sound Quality: </h4>
                <p>
                    “I grew up in a musical environment.  Everyone in my family played some kind of instrument and listened to every kind of music imaginable.  As much as I love playing music, what’s always been fascinating to me is not so much whether its played ”right”, but rather how did it come across in an artistic and sensory way.  As a guitar player, chasing tone is a visceral thing with me. When I went to my first real rock concert, feeling the power of the sound wash over me is what totally drew me in.   My jaw literally dropped open in amazement when I felt the energy.  Ever since that moment, music and film have been both addictive and healing in my life.  They can transport you to a place a time, and I am fortunate that I get to help create products that can recreate those experiences at home.”
                </p>
            </li>
			<li>
				<img src="{{ 'smith.jpg' | asset_url }}">
				<h3><span>Smith</span> Freeman, Director of Product Management</h3>
				<p>
					Smith is responsible for the engineering and design of all SVS products. A long time audio enthusiast with advanced degrees in Physics and Acoustics, Smith is one of the younger audio design veteran’s who is making a big impression in the speaker and
					subwoofer world. Smith's passion for high performance audio combined with his extensive acoustic and mechanical engineering experience are applied on a daily basis to ensure every SVS product meets the highest standards of design excellence.
				</p>
				<p>
					Beyond audio, Smith has been an avid rock climber for nearly two decades. Climbing, like engineering, is a technical and involved activity full of calculated decisions to find the most efficient way to the top. Like those who take an interest in sound
					quality, climbers have a deep passion and love for the activity which completely engages and transports them to new locations with amazing experiences.
				</p>
				<h4>On Sound Quality: </h4>
				<p>
					“There is a magical moment that anyone can have when listening to their favorite songs or movies. It’s the moment when you hear something you never noticed or experience sound in a whole new way. That is the heart and soul of high performance audio and
					high fidelity. To recapture all of the love for music and entertainment and engage the listener. There’s no greater takeaway for me than knowing that great sounding loudspeakers and subwoofers are making their way into more homes and spicing up music
					and movie nights. I know for a fact that everyone out there can appreciate high quality audio, even if they don’t think so. Part of what has drawn me to SVS and what brings me so much satisfaction is knowing that I am introducing more people to better
					entertainment experiences through exceptional sound quality.”
				</p>
				<h4> Listening at Home: </h4>
				<p>
					There are a few systems throughout my home, many of which are always shifting with different loudspeakers and subwoofers being swapped in and out. Most of the time though, I am streaming my networked music through my office 2.1 which is currently SVS
					Ultra Bookshelf speakers paired with an SB13-Ultra Subwoofer.
				</p>
			</li>
			<li>
				<img src="{{ 'keenan.jpg' | asset_url }}">
				<h3><span> Keenan</span> Davis, Senior Director of Marketing</h3>
				<p>
					Keenan is responsible for guiding the strategic direction of all digital, print, broadcast and other marketing channels for SVS. He leads a creative and talented marketing team with knowledge and experience gained from nearly 20 years working for companies
					like The New York Times, and market leading video game headset manufacturer, Turtle Beach. Keenan’s tactical and analytical skills help SVS maximize its partnerships and his diverse contact base and work experiences are continuously opening new doors
					as SVS grows into new channels.
				</p>
				<p>
					Born and raised with a love for music in Brooklyn, NY, Keenan is now the proud father to a college aged daughter Kiana and newborn son Logan. In his spare time, he attempts to perfect his imperfect poker face and is well on his way to seeing enough of
					the world to fill his second passport with stamps!
				</p>
				<h4> On Sound Quality: </h4>
				<p>
					“I feel as though video and graphics have come to a point we’re they’re pretty much a dead ringer for reality. Sound and audio is the next bastion as we create environments in which the audience can truly lose themselves in their respective form of entertainment
					and become fully immersed in their movies, music, gaming, sports and/or binge-worthy TV. The highest level of sound quality is needed to achieve this state of true immersion.”
				</p>
				<h4> Listening at Home: </h4>
				<p>
					“I have a Prime Tower Surround Package in the family room and an SVS Ultra Tower Surround Package in my basement (better known as Keenan’s Man Cave and personal poker/football room.)
				</p>
			</li>
			<li>
				<img src="{{ 'nick.jpg' | asset_url }}">
				<h3><span> Nicholas </span> Brown, Director of Brand Messaging </h3>
				<p>
					Nick is the resident wordsmith and creative spark behind nearly all of the social media posts, website copy, advertisements, blog entries and other pieces of SVS content. He is also the chief liaison who works with media to set up reviews, launch new
					products, contribute to articles, manage contests and help with whatever they need. He’s also the driving force behind the SVS featured home theaters, so if you have a great system, you might just get a note from him.
				</p>
				<p>
					In his spare time, Nick spends his time shuttling his 11 year-old son to karate and trumpet practice, cooking gourmet meals with his wife or walking the family puggle. Nick’s passion for audio began with his grandfather who used to sip scotch and spin
					vinyl while they watched baseball games together. This experience gave Nick an early interest in sound quality and understanding the technology behind audio reproduction, which he combined with his love of writing to land a dream career.
				</p>
				<h4> On Sound Quality: </h4>
				<p>
					My family is big on action movies and dance music, so we’re all about exciting dynamics and pulse racing sound that forces a reaction. We love putting on sweatpants and getting completely dialed into a movie and are also known to have impromptu Saturday
					morning dance parties leading up to our weekly Cleanfest round the house. The music has to be played loud in order to have the desired motivational effect, which is never a problem.
				</p>
				<h4> Listening at Home: </h4>
				<p>
					Currently we have two listening areas set-up, a pair of SVS Ultra Bookshelves upstairs for the main system and a Prime Satellite 2.1 with an SB-1000 in the downstairs gaming lair.
				</p>
			</li>

			<li>
				<img src="{{ 'ken.jpg' | asset_url }}">
				<h3><span> Ken</span> Kadis, Director of U.S. Sales </h3>
				<p>
					Ken Kadis is the key point person between SVS and its growing number of U.S. retailers. He makes sure our partners selling through brick-and-mortar storefronts have all the product, technical and marketing support they need and he also does frequent trainings
					to share the SVS vision. Kadis has been in the AV industry for nearly three decades and has opened many doors for SVS during his time onboard.
				</p>
				<p>
					Ken is also self-taught drummer, whose “teachers” have been the many drummers whose recordings he listened to through many great audio systems, and continue to enjoy today. When he’s not on the road making the SVS community stronger, Ken, loves spending
					time with his family, working on his chef skills and of course banging on his drums.
				</p>
				<h4> On Sound Quality: </h4>
				<p>
					The subtle and detailed sounds of a drum kit are the most demanding to render and high performance audio gear is critical to conveying the nuances and keeping it all from blending together. Great sound has always enabled and strengthened the connection
					for me to both the music and the artist.
				</p>
				<h4> Listening at Home: </h4>
				<p>
					I’ve got SVS Prime Towers, Prime Center, Prime Satellites, SB2000; Denon AVR-X4100, and I’ve never been happier.
				</p>
			</li>
			<li>
				<img src="{{ 'eli.jpg' | asset_url }}">
				<h3><span>Eli</span> Trinkle, Marketing Manager</h3>
				<p>Beginning in the dark depths of the SVS basement, Eli started out with the company as part of the small crew that hand assemble our infamous subwoofer drivers. With a rational approach to problem solving and a keen eye for detail, Eli branched to
					other assembly projects and key roles in assisting the work of our Engineering and R&D departments.</p>
				<p>These days, Eli helps to maintain the harmony of the daily operations of SVS. From keeping up with order fulfillment and the personnel that fill those orders, to maintaining a lot of our digital presence, he has the honor of wearing many hats for
					SVS.
				</p>
			</li>
			<li>
				<img src="{{ 'monique.jpg' | asset_url }}">
				<h3><span> Monique </span> Tomko, Director of Operations </h3>
				<p>
					As the office manager, Monique often serves as the cement holding a lot of other pieces in place and making sure nothing ever slips. Her work handling day to day operations at the SVS Ohio headquarters includes managing dealer relationships with U.S.
					and international partners, handling special shipping requests, updating the outlet page, inventory management and working with the warehouse to make sure everyone gets their products on time.
				</p>
				<p>
					Outside of work, Monique spends a lot of her time seeking new adventures with her five year-old daughter Ava and watching movies together on lazy nights. Some of their favorites are Frozen, the Wizard of Oz and The Incredible Hulk. Monique is also a winning
					marathoner and the undisputed distance running champion at SVS.
				</p>
				<h4> On Sound Quality: </h4>
				<p>
					Music has always been an escape for me. When I have a bad day, I turn the music on and get lost in it. Sound quality has a major impact on the experience and enjoyment of music because you feel so much closer to a song when you can hear all the instruments,
					vocals and beats clearly. I also love my subwoofer now because it just adds a whole other level of sound to movies.
				</p>
				<h4> Listening at Home: </h4>
				<p>
					We currently have a Prime Satellite 2.1 System, which is the perfect system for my room. It’s super compact but everyone is like, “THOSE tiny speakers are making THAT big of a sound!?” so I think it works.
				</p>
			</li>
			<li>
				<img src="{{ 'jason.jpg' | asset_url }}">
				<h3><span> Jason </span> Penezich, Production Designer </h3>
				<p>
					As the lead graphic designer, Jason is responsible for the visualization of the SVS brand through any number of assets including the website, print ads, landing pages, display ads and more. He also has extensive coding knowledge and assists the marketing
					team with SVS site maintenance, navigation and other parts of the digital experience.
				</p>
				<p>
					Jason’s spare time is spent building a house nearly on his own from what was essentially a stud shell, something he’s always wanted to do. He is also the owner of Rufio, a 140lb all white German shepherd who is often mistaken for a wolf right out of the
					wild. But the ladies love him. Jason is also into some of the finer things in life, including: tattoos, music, movies, motorcycles, whiskey, craft beer, and cooking.
				</p>
				<h4> On Sound Quality: </h4>
				<p>
					Music, movies, and premium TV have never been better. People are missing out on a lot of the experience if they’re only listening through tiny dime-sized speakers. Everything clicked into place when I listened to my first demo of SVS shortly after college
					and then it was further validated when I saw all my friend’s jaws drop after hearing how detailed the system can be or when we turn up the bass for a party.
				</p>
				<h4> Listening at Home: </h4>
				<p>
					Currently, I’m sporting a pair of SVS Ultra Towers and an SB13-Ultra Ultra in the main living room, and then I also have a set of prime satellites and a SB-1000 on my main PC.
				</p>
			</li>

		</ul>
	</div>
</section>
