{% include 'landing_page--header--soundpath', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}

		<section class="full-column first-section">
			<div class="wrap" style="padding-bottom:0px">

				<h2 class="full-column__heading"> <span>Unleash Your Audio System’s </span> Full Performance Potential </h2>

				<img src="{{ 'soundpath_rca_hero.jpg' | asset_url }}" alt="Expertise + Passion">

				<h3> Why SoundPath Audio Accessories? </h3>
			
				<p>
					Your audio system is only as good as its weakest link and when it comes to cables and accessories, the goal is always to maintain absolute signal purity and flow, while rejecting interference and sound distortion of all kinds, so a system can reach its true sonic potential. Before SVS SoundPath, audio and home theater fans were faced with a stark choice – either pay outlandishly high prices for far-fetched marketing claims based on “snake oil” science, or, settle for second-rate accessories that keep a system from performing its best. SVS SoundPath Audio Accessories deliver exceptional performance, expert design and premium build quality at prices within reach of anyone who loves great sound. 
				</p>
				<p style="margin-bottom:0px">
					Whether you’re looking for a cable to connect your subwoofer or other component, premium speaker cables for your home theater or two channel system, or a subwoofer isolation system to optimize bass and avoid disturbing your neighbors, SVS has a perfect solution for you.
				</p>

			</div>
		</section>


		<section class="three-up">
			<div class="wrap">

				<div class="column">
					<img src="{{ 'soundpath_logo_outlined.png' | asset_url }}" alt="">
					<h5 class="two-up__subheading"> Subwoofer Isolation System </h5>
					<a href="/products/soundpath-subwoofer-isolation-system"><img src="{{ 'soundpath_cat-isolation.jpg' | asset_url }}" alt=""></a>
					<p data-match-height="soundpathp1">
						The SVS SoundPath Subwoofer Isolation System works with nearly every subwoofer brand and model to improve bass performance while drastically reducing floor and wall vibrations, noise artifacts and complaints from neighbors or roommates.  De-coupling a subwoofer from the floor allows low frequency energy to be transferred through the air where it can be felt, resulting in tighter and cleaner sounding bass, no more distracting buzz or rattle from the room, and better overall dynamics.
					</p>
					<p class="sp-price hideRU"> From $49.99 </p>
					<a href="/products/soundpath-subwoofer-isolation-system" class="learn-more">Shop Now</a>
				</div>

				<div class="column">
					<img src="{{ 'soundpath_logo_outlined.png' | asset_url }}" alt="">
					<h5 class="two-up__subheading"> RCA Audio interconnect cable </h5>
					<a href="/products/soundpath-rca-audio-interconnect-cable"><img src="{{ 'soundpath_cat-interconnect.jpg' | asset_url }}" alt=""></a>
					<p data-match-height="soundpathp1">
						SVS SoundPath RCA Audio Interconnect Cables commandingly connect your subwoofer or other components to a receiver or preamplifier. The cables are designed to maintain pristine signal purity and provide noise rejection under any conditions so your system always reaches its true performance potential. SVS SoundPath RCA Audio Interconnects boast exceptional build quality you can feel and feature pure copper conductors with 24K gold plated brass connectors and a precision-engineered five-layer dielectric insulation system to reject RF and electromagnetic interference, all for a value that only SVS can offer.
					</p>
					<p class="sp-price hideRU"> From $24.99 </p>
					<a href="/products/soundpath-rca-audio-interconnect-cable" class="learn-more">Shop Now</a>
				</div>
              
              <div class="column">
					<!--<img src="{{ 'soundpath_logo_outlined.png' | asset_url }}" alt="">
					<h5 class="two-up__subheading"> Pivoting Wall/Ceiling Bracket </h5>
					<a href="/products/soundpath-pivoting-wall-ceiling-bracket"><img src="{{ 'soundpathpage_pivoting_pracket.jpg' | asset_url }}" alt=""></a>
					<p data-match-height="soundpathp1">
						The SVS SoundPath Pivoting Wall/Ceiling Bracket is the most flexible and convenient way to mount speakers to a wall or ceiling. Its unique, omnidirectional design allows speakers to be precisely positioned for direct radiation, and its no-fuss installation and rugged build quality make SoundPath an ideal choice for mounting a wide variety of speakers.
					</p>
					<p class="sp-price hideRU"> From $39.99 </p>
					<a href="/products/soundpath-pivoting-wall-ceiling-bracket" class="learn-more">Shop Now</a>
-->
                <img src="{{ 'soundpath_logo_outlined.png' | asset_url }}" alt="">
					<h5 class="two-up__subheading"> Ultra speaker cable </h5>
					<a href="/products/soundpath-ultra-speaker-cable"><img src="{{ 'soundpath-cat-ultra-sc.jpg' | asset_url }}" alt=""></a>
					<p data-match-height="soundpathp2">
						SVS SoundPath Ultra speaker cables are built without compromise using the finest materials, design standards and fabrication techniques that you expect from the best speaker cables in the world. SVS SoundPath Ultra Speaker cables are hand-soldered with custom terminations by our craftsmen in Ohio to any length with your choice of 24K gold plated copper spades, 24K gold plated copper banana plugs, or a mix of both if you prefer spades for your speakers, and banana terminals for your amp or receiver.  
					</p>
					<p class="sp-price hideRU"> From $43.99 </p>
					<p class="caption" style="color:#ff4500" data-match-height="soundpathspace"> Includes Terminals. Custom Terminated in Ohio. </p>
					<a href="/products/soundpath-ultra-speaker-cable" class="learn-more">Shop Now</a>
				</div>
			
			</div>		
		</section>



		<section class="three-up">
			<div class="wrap">

				<div class="column">
					<!--<img src="{{ 'soundpath_logo_outlined.png' | asset_url }}" alt="">
					<h5 class="two-up__subheading"> Ultra speaker cable </h5>
					<a href="/products/soundpath-ultra-speaker-cable"><img src="{{ 'soundpath-cat-ultra-sc.jpg' | asset_url }}" alt=""></a>
					<p data-match-height="soundpathp2">
						SVS SoundPath Ultra speaker cables are built without compromise using the finest materials, design standards and fabrication techniques that you expect from the best speaker cables in the world. SVS SoundPath Ultra Speaker cables are hand-soldered with custom terminations by our craftsmen in Ohio to any length with your choice of 24K gold plated copper spades, 24K gold plated copper banana plugs, or a mix of both if you prefer spades for your speakers, and banana terminals for your amp or receiver.  
					</p>
					<p class="sp-price hideRU"> From $43.99 </p>
					<p class="caption" style="color:#ff4500" data-match-height="soundpathspace"> Includes Terminals. Custom Terminated in Ohio. </p>
					<a href="/products/soundpath-ultra-speaker-cable" class="learn-more">Shop Now</a>
-->
				</div>

				<div class="column">
					<img src="{{ 'soundpath_logo_outlined.png' | asset_url }}" alt="">
					<h5 class="two-up__subheading"> one speaker cable </h5>
					<a href="/products/soundpath-one-speaker-cable"><img src="{{ 'soundpath-cat-sc.jpg' | asset_url }}" alt=""></a>
					<p data-match-height="soundpathp2">
						SVS SoundPath One Speaker Cables employ high-end materials, expert fabrication techniques and clever design elements to provide a far superior, but still affordable alternative to bulk speaker wire or cable. The 14 gauge 99.99% copper stranded speaker cable offers great fidelity and outstanding noise rejection with excellent durability.  SVS SoundPath One Speaker Cables offer no compromises and incredible value for anyone in need of affordable speaker wire or cable.
					</p>
					<p class="sp-price hideRU"> From $29.99 </p>
                  <p class="caption" style="color:#ff4500" data-match-height="soundpathspace"></p>
					<a href="/products/soundpath-one-speaker-cable" class="learn-more">Shop Now</a>
				</div>

				<div class="column">
					<img src="{{ 'soundpath_logo_outlined.png' | asset_url }}" alt="">
					<h5 class="two-up__subheading"> speaker cable terminals </h5>
					<a href="/products/soundpath-speaker-cable-terminals"><img src="{{ 'soundpath-cat-term.jpg' | asset_url }}" alt=""></a>
					<p data-match-height="soundpathp2">
						SVS SoundPath Speaker Cable Terminals are expertly designed to work with all speaker models. The 24K gold plated brass spades and banana terminals were exhaustively tested and configured for the best possible grip and most surface area contact with a wide range of bare wire and speaker terminals. Excellent for use with SVS SoundPath One Speaker Cable, or those from other brands, these banana plug and spade terminals are extremely affordable, easy to assemble and provide perfect signal transfer at the point of contact with your speakers.
					</p>
					<p class="sp-price hideRU"> From $9.99 </p>
                  <p class="caption" style="color:#ff4500" data-match-height="soundpathspace"></p>
					<a href="/products/soundpath-speaker-cable-terminals" class="learn-more">Shop Now</a>
				</div>

			</div>
		</section>



