{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}

        <section class="full-column first-section">
            <div class="wrap">

                <h2 class="full-column__heading"> AUDIOPHILE PRECISION, CINEMATIC DYNAMICS, UNPRECEDENTED VALUE. </h2>

                
            
                <p>
                    To create the Ultra Series, we started with extremely high expectations—and then set out to exceed them in every arena. We drew on our deepest reserves of passion, expertise and decades in audio.
                </p>
                <p>
                    In keeping with the SVS process, the Ultra Series was digitally prototyped, then developed with FEA optimization, and scientifically tested in anechoic chambers. Endless hours were spent doing what we love the most: We listened, tweaked, and listened again to all kinds of movies and music in a multitude of real-world listening rooms. Relentlessly. Only then was the Ultra Series ready to delight audio’s most passionate listeners—including you.
                </p>

            </div>
        </section>


        <section class="two-up">
            <div class="wrap">

                <div class="column">
                    <h5 class="two-up__subheading"> Tech </h5>
                    <a href="/products/soundpath-subwoofer-isolation-system"><img src="{{ 'ultra-tech-cat.png' | asset_url }}" alt=""></a>
                </div>

                <div class="column">
                    <h5 class="two-up__subheading"> WORLD-CLASS PERFORMANCE, RIGHT AT HOME. </h5>
                    <a href="/products/soundpath-rca-audio-interconnect-cable"><img src="{{ 'soundpath-cat-rca.jpg' | asset_url }}" alt=""></a>
                    <p>
                        Prime was designed to overcome the audio limitations of dual-purpose living/listening spaces. An uncompromising system of high-fidelity speakers —from towers, to revolutionary satellites—the Prime series’ voicing has been expertly matched to create a coherent and world-class soundstage.
                    </p>
                    <p> With each unit cleverly playing multiple sonic roles, you will finally experience the full musical artistry and cinematic illusion their creators imagined—right in your own home. </p>
                </div>
            
            </div>      
        </section>



        <section class="three-up">
            <div class="wrap">

                <div class="column">
                    <h5 class="two-up__subheading"> Ultra Tower </h5>
                    <a href="/products/ultra-tower"><img src="{{ 'Ultra_tower_PG_pair_grande.jpg' | asset_url }}" alt=""></a>
                    <p> Flagship tower loudspeaker with 3.5-way crossover, 1" aluminum dome tweeter, dual 6.5" midrange drivers and dual horizontally-opposed 8" woofers. </p>
                    <p class="sp-price"> $999.99 </p>
                    <a href="/products/ultra-tower" class="learn-more">Shop Now</a>
                </div>

                <div class="column">
                    <h5 class="two-up__subheading"> Ultra Bookshelf </h5>
                    <a href="/products/ultra-bookshelf"><img src="{{ '130805_SVS_Bookshelf_Straight_flat_grande.jpg' | asset_url }}" alt=""></a>
                    <p> Reference-grade bookshelf monitor with 2-way crossover, 1" aluminum dome tweeter and 6.5" woofer. </p>
                    <p class="sp-price"> $499.99 </p>
                    <a href="/products/ultra-bookshelf" class="learn-more">Shop Now</a>
                </div>

                <div class="column">
                    <h5 class="two-up__subheading"> Ultra Center </h5>
                    <a href="/products/ultra-center"><img src="{{ '130812_SVS_Center_Straight_flat_grande.jpg' | asset_url }}" alt=""></a>
                    <p> Premium center channel loudspeaker with 3-way crossover, 1" aluminum dome tweeter, 4" vertically-aligned midrange driver and dual 6.5" woofers. </p>
                    <p class="sp-price"> $699.99 </p>
                    <a href="/products/ultra-center" class="learn-more">Shop Now</a>
                </div>

            </div>
        </section>



        <section class="three-up">
            <div class="wrap">

                <div class="column">
                    <h5 class="two-up__subheading"> Ultra Surround </h5>
                    <a href="/products/ultra-surround"><img src="{{ 'Ultra_surround_pair_grande.jpg' | asset_url }}" alt=""></a>
                    <p> Premium surround loudspeaker with dual 1" dome tweeters, dual 5.5" woofers and bipole, dipole and Duet configuration modes. </p>
                    <p class="sp-price"> $599.99 </p>
                    <a href="/products/ultra-surround" class="learn-more">Shop Now</a>
                </div>

                <div class="column">
                    <h5 class="two-up__subheading"> Ultra Tower Surround Package </h5>
                    <a href="/products/ultra-tower-surround-package"><img src="{{ 'soundpath-cat-sc.jpg' | asset_url }}" alt=""></a>
                    <p> Complete 5.0 system featuring two pairs of Ultra Tower Speakers, two pairs of Ultra Surround Speakers and an Ultra Center. </p>
                    <p class="sp-price"> $3699.99 </p>
                    <a href="/products/ultra-tower-surround-package" class="learn-more">Shop Now</a>
                </div>

                <div class="column">
                    <h5 class="two-up__subheading"> Ultra Bookshelf Surround Package </h5>
                    <a href="/products/ultra-bookshelf-surround-package"><img src="{{ 'soundpath-cat-term.jpg' | asset_url }}" alt=""></a>
                    <p> Complete 5.0 system featuring two pairs of Ultra Bookshelf Speakers, two pairs of Ultra Surround Speakers and an Ultra Center. </p>
                    <p class="sp-price"> From $2699.99 </p>
                    <a href="/products/ultra-bookshelf-surround-package" class="learn-more">Shop Now</a>
                </div>

            </div>
        </section>