<div class="bookshelf-cat">
    {% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}

    <section>
        <div class="wrap primary-wrap" style="padding-top:0;">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <!--<img src="{{ 'ultra-prime-bs.png' | asset_url }}" class="inline-bookshelf-bs-cat">-->
                        <p>
                            Bookshelf speakers are ideal when you want full-range sound and flexible placement options. SVS Prime and Ultra Series bookshelf speakers are accurate and transparent, with stunning dynamics and room-filling low frequency output. As with all SVS speakers, they are designed to deliver crisp, clear, “like-being-there” audio experiences with both stereo and home theater surround sound systems.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="bg-grey">
        <div class="wrap">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12"> <h2> SVS Prime and Ultra Series Bookshelf Speakers </h2> </div>
                    <div class="col-md-4 product-line-wrap">
                        <a href="/products/ultra-bookshelf">
                            <img src="{{ 'lp-ultra-bs-series.jpg' | asset_url }}">
                            <h3 data-match-height="speaker-header-1"> Ultra Bookshelf Speakers - <span>$499.99 each</span> </h3>
                        </a>
                        <p data-match-height="speaker-para">
                            Reference SVS Bookshelf speaker delivers amazingly deep and articulate bass, absolute transparency in the mids and highs, and breathtaking detail resolution for the most discerning listeners.
                        </p>
                        <ul data-match-height="speaker-list">
                            <li> 1-inch Aluminum Dome Tweeter </li>
                            <li> 6.5-inch Glass Fiber Composite Mid-Woofer </li>
                            <li> Frequency Response: 45Hz – 32kHz (+/- 3dB) </li>
                        </ul>
                        <a href="/products/ultra-bookshelf" class="cta"> Shop Ultra Bookshelf Speakers </a>
                    </div>
                    <div class="col-md-4 product-line-wrap">
                        <a href="/products/prime-bookshelf">
                            <img src="{{ 'lp-prime-bs-series.jpg' | asset_url }}">
                            <h3 data-match-height="speaker-header-1"> Prime Bookshelf Speakers - <span>$249.99 each</span> </h3>
                        </a>
                        <p data-match-height="speaker-para">
                            Hailed by critics and owners as the best bookshelf speaker under $500, the SVS Prime Bookshelf features Ultra Series design elements to achieve world class dynamics and sound quality well beyond its price.
                        </p>
                        <ul data-match-height="speaker-list">
                            <li> 1-inch Aluminum Dome Tweeter </li>
                            <li> 6.5-inch Polypropylene Mid-Woofer </li>
                            <li> Frequency Response: 48Hz – 25kHz (+/- 3dB) </li>
                        </ul>
                        <a href="/products/prime-bookshelf" class="cta"> Shop Prime Bookshelf Speakers </a>
                    </div>
                    <div class="col-md-4 product-line-wrap">
                        <a href="/products/prime-satellite">
                            <img src="{{ 'lp-prime-sat-series.jpg' | asset_url }}">
                            <h3 data-match-height="speaker-header-1"> Prime Satellite (Mini-Bookshelf) Speakers - <span>$134.99 each</span> </h3>
                        </a>
                        <p data-match-height="speaker-para">
                            The SVS Prime Satellite speaker redefines performance in the mini-bookshelf speaker category with astonishing output and refinement from a  compact cabinet that can be placed nearly anywhere.
                        </p>
                        <ul data-match-height="speaker-list">
                            <li> 1-inch Aluminum Dome Tweeter </li>
                            <li> 4.5-inch Polypropylene Midrange Driver </li>
                            <li> Frequency Response: 69Hz – 25kHz (+/- 3dB) </li>
                        </ul>
                        <a href="/products/prime-satellite" class="cta"> Shop Prime Satellite Speakers </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="quotes">
        <div class="wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h3> Critical acclaim for SVS bookshelf speakers. </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 quote-single">
                        <blockquote>
                            <p>
                                “SVS knocked it out of the park on sound and build quality with the high-value, full-range Ultra Bookshelf speakers.”
                                <span> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/reviewer_logo_s_v.png?6268873773656905479" alt=""> </span>
                            </p>
                        </blockquote>
                    </div>
                    <div class="col-sm-6 col-md-4 quote-single">
                        <blockquote>
                            <p>
                                “They are more detailed and more "hi-fi" than anything we've heard at this price before."
                                <span> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/reviewer_logo_cnet.png?12016663115671930928" alt=""> </span>
                            </p>
                        </blockquote>
                    </div>
                    <div class="col-sm-6 col-md-4 quote-single">
                        <blockquote>
                            <p>
                                “SVS Prime Bookshelf speakers are destined to become classics—that's how good they are… I found myself in awe of how transparent these speakers sounded.”
                                <span> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/reviewer_logo_avsforum.png?16893869989594216115" alt=""> </span>
                            </p>
                        </blockquote>
                    </div>
                    <!--<div class="col-sm-6 col-md-4 quote-single">
                        <blockquote>
                            <p>
                                “Audiophiles take heed: The design, performance, and price make the SVS Ultra Bookshelf the perfect option for the last set of Bookshelf speakers you’ll ever need to purchase.”
                                <span> -BestStuff </span>
                            </p>
                        </blockquote>
                    </div>-->
                    <div class="col-sm-6 col-md-4 quote-single">
                        <blockquote>
                            <p>
                                “The perfect anchor for a reasonably priced, high performance audio system. I can’t think of a better pair of $500 speakers to put on your short list. Highly recommended.”
                                <span> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/reviewer_logo_toneaudio.png?4350460877802818238" alt=""> </span>
                            </p>
                        </blockquote>
                    </div>
                    <div class="col-sm-6 col-md-4 quote-single">
                        <blockquote>
                            <p>
                                "Produces hearty bass and full sounds unlike any other stereo speakers we heard in this price range. This bookshelf speaker produces sound that rivals that of larger tower speakers.”
                                <span> -Consumer Digest </span>
                            </p>
                        </blockquote>
                    </div>
                    <div class="col-sm-6 col-md-4 quote-single">
                        <blockquote>
                            <p>
                                “Superb clarity, classy looks, a wide soundstage and an unbelievable low end. The SVS Ultra is the Best Bookshelf speaker under $1,000.”
                                <span> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/reviewer_logo_tms.png?17852966972501899433" alt=""> </span>
                            </p>
                        </blockquote>
                    </div>
                    <!--<div class="col-sm-6 col-md-4 quote-single">
                        <blockquote>
                            <p>
                                “The imaging and depth are astonishing even at high volume. Blows my mind. Absolutely the best bookshelf speakers I’ve heard. Period.”
                                <span> -Z Reviews </span>
                            </p>
                        </blockquote>
                    </div>-->
                    <!--<div class="col-sm-6 col-md-4 quote-single">
                        <blockquote>
                            <p>
                                “A marvel of sound design. These speakers can uncoil the sound, and reach well above their price point. Easy recommendations for the aspiring but sensible home theater enthusiast.”
                                <span> <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/reviewer_logo_high-def.png?4350460877802818238" alt=""> </span>
                            </p>
                        </blockquote>
                    </div>-->
                    <div class="col-md-12 read-all-reviews"> <a href="/blogs/press-reviews"> Read all reviews on our press review page here.</a> </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-grey speaker-series">
        <div class="wrap">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12"> <h2> Shop All Award-Winning SVS Speakers </h2> </div>
                    <div class="col-md-12"> <h3> SVS Prime Series Speakers </h3> </div>

                    <div class="col-md-4 product-line-wrap">
                        <a href="/products/prime-tower">
                            <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-prime-tower.jpg?4063642715270300595">
                            <h3> Prime Tower Speakers - <span>$499.99 each</span> </h3>
                        </a>
                        <p data-match-height="speaker-para-2">
                            Exceptional clarity, flawless tonal balance and room-energizing bass response. Sets the benchmark as best tower speaker under $1,000.
                        </p>
                        <a href="/products/prime-tower" class="cta"> Shop Prime Tower Speakers </a>
                    </div>

                    <div class="col-md-4 product-line-wrap">
                        <a href="/products/prime-center">
                            <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-prime-center.jpg?4063642715270300595">
                            <h3> Prime Center Speaker  - <span>$249.99 each</span> </h3>
                        </a>
                        <p data-match-height="speaker-para-2">
                            True 3-way center channel speaker, unheard of at the price, delivers crystal clear and natural sounding dialogue and vocals with an expansive soundstage and excellent dispersion characteristics.
                        </p>
                        <a href="/products/prime-center" class="cta"> Shop Prime Center Speaker </a>
                    </div>

                    <div class="col-md-4 product-line-wrap">
                        <a href="/products/prime-elevation">
                            <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-prime-el.jpg?4063642715270300595">
                            <h3> Prime Elevation Speakers - <span>$199.99 each</span> </h3>
                        </a>
                        <p data-match-height="speaker-para-2">
                            Prime Elevation speakers easily mount to the wall or ceiling as direct radiating height effects speaker for Dolby Atmos®, DTS:X® and Auro-3D®. Also versatile enough to play as main, center, rear/side surrounds or LCR speakers when ideal room placement isn’t possible.
                        </p>
                        <a href="/products/prime-elevation" class="cta"> Shop Prime Elevation Speakers </a>
                    </div>

                    <div class="col-md-12"> <h3 class="ultra-series-header"> SVS Ultra Series Speakers </h3> </div>

                    <div class="col-md-4 product-line-wrap">
                        <a href="/products/ultra-tower">
                            <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-ultra-tower.jpg?9034561868152413023">
                            <h3> Ultra Tower Speakers - <span>$999.99 each</span> </h3>
                        </a>
                        <p data-match-height="speaker-para-2">
                            Reference floorstanding speakers with dual opposing 8-inch woofers, innovative 3.5-way crossover, innovative driver design and optimized cabinet geometry for performance that competes with the finest tower speakers in the world at a fraction of the price.
                        </p>
                        <a href="/products/ultra-tower" class="cta"> Shop Ultra Tower Speakers </a>
                    </div>

                    <div class="col-md-4 product-line-wrap">
                        <a href="/products/ultra-center">
                            <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-ultra-center.jpg?9034561868152413023">
                            <h3> Ultra Center Speaker - <span>$699.99 each</span> </h3>
                        </a>
                        <p data-match-height="speaker-para-2">
                            Reference 3-way Ultra Center Speaker with dual woofers and vertically aligned tweeter and midrange deliver pitch perfect dialogue and vocals, an expansive soundstage, pinpoint accuracy and utter transparency.
                        </p>
                        <a href="/products/ultra-center" class="cta"> Shop Ultra Center Speaker </a>
                    </div>

                    <div class="col-md-4 product-line-wrap">
                        <a href="/products/ultra-surround">
                            <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-ultra-sur.jpg?9034561868152413023">
                            <h3> Ultra Surround Speakers - <span>$599.99 each</span> </h3>
                        </a>
                        <p data-match-height="speaker-para-2">
                            Acoustically optimized dedicated surround speaker is neutral enough to blend with any system while still conveying head-turning sonic impact and dynamics. Plays in bipole, dipole or Duet mode as 2 speakers in one cabinet.
                        </p>
                        <a href="/products/ultra-surround" class="cta"> Shop Ultra Surround Speakers </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section style="">
        <div class="wrap">
            <div class="container-fluid">
                <div class="row speaker-callout">

                    <div class="col-md-12">
                        <h3> Where Technology Meets Passion. </h3>
                        <p>
                            When making speakers, even the smallest details have sonic consequences. Our engineers scrutinize every aspect to achieve a level of sonic excellence that’s unmistakably SVS.
                        </p>
                        <img src="{{ 'speaker-cat-callouts.jpg' | asset_url }}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="background:#262626; color: white;">
        <div class="wrap">
            <div class="container-fluid">
                <div class="row resources">

                    <div class="col-md-12"> <h3> Helpful Speaker Resources </h3> </div>

                    <div class="col-md-6">

                        <div class="col-md-12">
                            <a href="/pages/svs-prime-and-ultra-series-speakers-a-comparison">
                                <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/prime-vs-ultra.jpg?9404046388183335636">
                                SVS Prime and Ultra Series Speakers: A Comparison
                            </a>
                            <p> Understanding the differences between the two SVS speaker lines. </p>
                        </div>

                        <div class="col-md-12">
                            <a href="/blogs/svs/choosing-between-bookshelf-and-tower-speakers-1">
                                <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/tower-vs-bookshelf.jpg?9404046388183335636">
                                Choosing Between Bookshelf and Tower Speakers
                            </a>
                            <p> Important things to know about sound quality, room set-up, budget and more. </p>
                        </div>
                        <div class="col-md-12">
                            <a href="/blogs/svs/74790851-the-art-of-speaker-placement">
                                <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/speaker-placement.jpg?9404046388183335636">
                                The Art of Speaker Placement
                            </a>
                            <p>	Tips for optimizing speaker placement when setting up a two-channel stereo or surround sound home theater speaker system. </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-12">
                            <a href="/blogs/svs/what-are-the-best-speakers-for-turntables">
                                <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/turntable.jpg?9404046388183335636">
                                What are the Best Speakers for Turntables
                            </a>
                            <p>	Speaker recommendations and important things to know if you’re getting into vinyl. </p>
                        </div>
                        <div class="col-md-12">
                            <a href="/pages/dolby-atmos-dts-x-auro-3d-speaker">
                                <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/dtsx.jpg?9404046388183335636">
                                Getting Started with Dolby Atmos, DTS:X and Auro-3D
                            </a>
                            <p> Learn about the emerging audio formats and how height effects speakers can elevate your listening experience. </p>
                        </div>
                        <div class="col-md-12">
                            <a href="/pages/system-builder">
                                <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/jeeves.jpg?9404046388183335636">
                                Jeeves – Speaker and Subwoofer System Builder
                            </a>
                            <p>
                                Jeeves is your SVS personal speaker and subwoofer system builder. Choose from pre-selected configurations or custom build your own by selecting any combination of SVS speakers and subwoofers.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


</div>
