<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='47756678-5',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->


<img src="{{ 'lp-tower-header-w.jpg' | asset_url }}" class="lp-header-img">

<div class="lp-gen-speakers-2016-wrap">
    <section class="">
        <div class="wrap">
            <div class="series">

                <div class="grid-2">
                    <div class="col-1-2 series">
                        <a href="/pages/speakers#prime-series" onClick="ga('send', 'event', 'Tower Speaker Landing Page', 'Click', 'Prime Series');"> <h5 data-match-height="h1"> Prime Tower Speakers <span class="italic">$499.99 each</span> </h5> </a>
                        <a href="/pages/speakers#prime-series" onClick="ga('send', 'event', 'Tower Speaker Landing Page', 'Click', 'Prime Series');"> <img src="{{ 'lp-prime-tower.jpg' | asset_url }}"> </a>
                        <p data-match-height="p1">
                            Hailed by CNET and others as the best floorstanding speakers under $1,000, the SVS Prime Tower Speakers deliver a truly high end audio experience for two-channel and home theater listening. Featuring technology breakthroughs from the Ultra Series, the
                            Prime Towers set the benchmark for performance value and make world-class audio more inclusive than ever before.
                        </p>
                        <a href="/pages/speakers#prime-series" class="cta-full-blue cta-align-1" onClick="ga('send', 'event', 'Tower Speaker Landing Page', 'Click', 'Prime Series');"> Learn More </a>
                    </div>

                    <div class="col-1-2 series">
                        <a href="/pages/speakers#ultra-series" onClick="ga('send', 'event', 'Speaker Landing Page', 'Click', 'Ultra Series');"> <h5 data-match-height="h1"> Ultra Tower Speakers <span class="italic">$999.99 each</span> </h5> </a>
                        <a href="/pages/speakers#ultra-series" onClick="ga('send', 'event', 'Speaker Landing Page', 'Click', 'Ultra Series');"> <img src="{{ 'lp-ultra-tower.jpg' | asset_url }}"> </a>
                        <p data-match-height="p1">
                            Every design aspect of the SVS Ultra Tower Speaker was scrutinized to achieve cost-no-object audio performance and build quality. Our flagship model easily outclasses tower speakers costing far more with a wide, detailed soundstage, incredible resolution,
                            absolute transparency, and amazingly deep, rich and articulated bass.
                        </p>
                        <a href="/pages/speakers#ultra-series" class="cta-full-blue" onClick="ga('send', 'event', 'Speaker Landing Page', 'Click', 'Ultra Series');"> Learn More </a>
                    </div>
                </div>
            </div>
            <p class="lp-lfm">
                Interested in bookshelf, center channel, surround, height effect, or satellite speakers? <span class="lb">All models are available on our <a href="/pages/speakers" onClick="ga('send', 'event', 'Speaker Landing Page', 'Click', 'Speaker Category Page');">SVS speaker category page.</a></span>
            </p>
        </div>
    </section>

    {% include 'news-ticker-speakers' %}

    <section class="blue-section">
        <div class="wrap">
            <div class="grid-2 merlin-cust">

                <div class="col-1-3" data-match-height="group-3">
                    <h5 data-match-height="heading">
                        <a href="/pages/bill-of-rights" onClick="ga('send', 'event', 'Tower Speaker Landing Page', 'Click', 'Bill of Rights');"> 45 Day Risk-Free In-Home Trial, Fast & Free Shipping and Returns </a>
                    </h5>
                    <p data-match-height="group-p">
                        All part of your Customer Bill of Rights, along with other benefits that extend before and after you choose SVS.
                    </p>
                    <a href="/pages/bill-of-rights" data-match-height="group-a" style="display: block;" onClick="ga('send', 'event', 'Tower Speaker Landing Page', 'Click', 'Bill of Rights');">
                        <img src="{{ 'lp-bor-ico.png' | asset_url }}" class="lp-bor-img">
                    </a>
                    <a href="/pages/bill-of-rights" class="cta-full-white" onClick="ga('send', 'event', 'Tower Speaker Landing Page', 'Click', 'Bill of Rights');"> View your Bill of Rights </a>
                </div>

                <div class="col-1-3 lp-cust" data-match-height="group-3">
                    <h5 data-match-height="heading">
                        <a href="/pages/customer-service" onClick="ga('send', 'event', 'Tower Speaker Landing Page', 'Click', 'Sound Experts Support');"> Sound Experts Support </a>
                    </h5>
                    <p data-match-height="group-p">
                        Our Sound Experts support team is available seven days a week to offer guidance on choosing the best subwoofer for your speakers, room layout, personal tastes and more. Reach them via chat, phone (877.626.5623), or email custservice@svsound.com with any
                        AV related questions.
                    </p>
                    <a href="/pages/customer-service" data-match-height="group-a" style="display: block;" onClick="ga('send', 'event', 'Tower Speaker Landing Page', 'Click', 'Sound Experts Support');">
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-gen-sound-experts-logo-white_6c224514-1277-42d8-9b9c-0d0fffe3a458.png?14285804381973373788" class="lp-cust-img">
                    </a>
                    <a href="/pages/customer-service" class="cta-full-white" onClick="ga('send', 'event', 'Tower Speaker Landing Page', 'Click', 'Sound Experts Support');"> Connect with Sound Experts </a>
                </div>

                <div class="col-1-3 lp-merlin" data-match-height="group-3">
                    <h5 data-match-height="heading">
                        <a href="/pages/speakers" onClick="ga('send', 'event', 'Tower Speaker Landing Page', 'Click', 'Compare');"> Find the Perfect Speaker with our Comparison Tool </a>
                    </h5>
                    <p data-match-height="group-p">
                        Compare all SVS speaker dimensions, specifications, finish options, and design characteristics on our speaker category page.
                    </p>
                    <a href="/pages/speakers" data-match-height="group-a" style="display: block;" onClick="ga('send', 'event', 'Tower Speaker Landing Page', 'Click', 'Compare');">
                        <img src="{{ 'compare-ico.png' | asset_url }}">
                    </a>
                    <a href="/pages/speakers" class="cta-full-white" onClick="ga('send', 'event', 'Tower Speaker Landing Page', 'Click', 'Compare');"> Compare Speakers </a>
                </div>

            </div>
        </div>
    </section>

</div>
