{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}

<section class="full-column first-section">
	<div class="wrap gift-guide-intro">

  	<h2 class="full-column__heading"> Treat Dad (or Yourself) from the SVS Father’s Day Gift Guide </h2>

		<p>
			Celebrate Father’s Day in the most relaxing and fun way possible, with a family movie night punctuated by new SVS audio gear that’ll have Dad grinning from ear to ear. There’s options to make every Dad feel like a king all year round with the most thumping home theater or stereo system on the block.
		</p>
		<p> If you’re the Dad, get your request in ASAP to have it arrive before June 19 so the whole family can enjoy! </p>
	</div>
</section>

<!--
<section class="full-column bg-">
	<div class="wrap">
		<h5 class="heading-with-underline"> NEW! SVS SoundPath Audio Accessories </h5>
		<img src="{{ 'soundpath_accessories.jpg' | asset_url }}">

		<p> Perfect Stocking Stuffers for Audio Buffs  – <strong>NEW! SoundPath Accessories</strong> </p>
		<p class="gg-margin-bot"> <strong>Ideal for:</strong> Anyone who desires high end audio performance but doesn’t want to overpay or put the integrity of their system at risk. </p>
		<p class="sp-price"> From $9.99 </p>
		<a href="/pages/soundpath" onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - SoundPath Audio Accessories Link');" class="learn-more">Shop Now</a>
	</div>
</section>
-->

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/products/prime-satellite-2-1" onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - Prime 2.1 Image Link');"><img src="{{ 'prime-sat-system-21.png' | asset_url }}" alt="" class="gg-prime-book float-right"></a>
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> The Expectations Obliterator - Prime Satellite 2.1 Speaker Package </h5>
			<p>
				Compact in stature, this powerhouse pairing will shock and awe any dad with big system dynamics and detail, while saving plenty of room for his trophies. The Prime Satellite speakers and SB-1000 punch way above their weight class with head-turning sound quality and deep bass impact that will transform any room sonically without taking it over visually.
			</p>
			<p class="sp-price"> From $699.99 <span>Starting at $62 a month with Affirm. </span></p>
			<a href="/products/prime-satellite-2-1" class="learn-more " onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - Prime 2.1 Shop Now Link');">Shop Now</a>
		</div>

	</div>
</section>

<section class="two-up">
	<div class="wrap">
		<div class="column">
			<h5 class="two-up__subheading"> The Prize Catch Bass - 2000 Series Subwoofers </h5>
			<p>
				Our top-selling line of subwoofers and Sound & Vision Magazine “Top Picks”, the SB-2000 and PB-2000 Subwoofers lay the foundation for any great audio system by unleashing deep, accurate and effortlessly powerful bass. Treat Dad to music, soundtracks and audio he can feel with a truly world-class subwoofer at an amazing value.
			</p>

			<p class="sp-price"> From $699.99 <span>Starting at $62 a month with Affirm. </span></p>
			<a href="/pages/subwoofers#2000-series" class="learn-more " onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - 2000 Series Shop Now Link');">Shop Now</a>
		</div>

		<div class="column">
			<a href="/pages/subwoofers#2000-series" onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - 2000 Series Image Link');"><img src="//cdn.shopify.com/s/files/1/0921/3560/t/30/assets/homepage_sb-2000_tower.jpg?13923418329151065152" alt="" class="gg-prime-tower"></a>
		</div>

	</div>
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/products/prime-tower" onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - Prime Tower Image Link');"><img src="//cdn.shopify.com/s/files/1/0921/3560/t/30/assets/looking-for-more-prime.jpg?13923418329151065152" alt="" class="float-right gg-prime-5-1"></a>
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> Immersive Audiophile Experience - Prime Tower Speakers </h5>
			<p>
				A sonic achievement that stands up to the best speakers in the world, the Prime Tower Speakers give Dad a high end listening experience with incredible dynamics, detail and low-frequency extension that is normally the domain of much more expensive speakers.
			</p>
			<p class="sp-price"> From $499.99 <span>Starting at $44 a month with Affirm. </span></p>
			<a href="/products/prime-tower" class="learn-more " onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - Prime Tower Shop Now Link');">Shop Now</a>
		</div>

	</div>
</section>

<section class="two-up">
	<div class="wrap">

		<div class="column">
			<h5 class="two-up__subheading"> Compact Surround Sound Dynamite - Prime Satellite 5.1 Speaker Package </h5>
			<p>
				HomeTheaterReview explains why Dad will feel like royalty with this speaker package: “An astonishing amount of sound quality in a very small speaker cabinet. The SVS Prime Satellite 5.1 home theater system is the best satellite speaker surround sound system under $1,000. Congratulations, SVS. The old king is dead, long live the new king.”
			</p>
			<p class="sp-price"> From $999.99 <span>Starting at $88 a month with Affirm. </span> </p>
			<a href="/products/prime-satellite-5-1" class="learn-more " onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - Prime 2.1 Shop Now Link');">Shop Now</a>

		</div>
		<div class="column">
			<a href="/products/prime-satellite-5-1" onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - Prime 5.1 Image Link');"><img src="{{ 'prime_sat_five_one_gloss.png' | asset_url }}" alt="" class="gg-prime-5-1"></a>
		</div>
	</div>
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/products/ultra-tower-surround-package" onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - Ultra Tower Surround System Image Link');"><img src="{{ '130825_UltraTowerSurround_06_flat.png' | asset_url }}" alt="" class="gg-sb13 float-right"></a>
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> Ultimate Dad’s Den Experience - Ultra Tower 5.0 Speaker Package </h5>
			<p>
				A system that will make Dad the envy of the block for years to come, the SVS Ultra Tower Speaker package delivers a deeply immersive and entertaining surround sound experience that puts the local movie theater and concert venue to shame. Dad deserves the best and the Ultra Speakers deliver a memorable experience with every listen. (Ask about our special deal on SVS Subwoofers when you order this package.)
			</p>
			<p class="sp-price"> From $3,699.99 <span>Starting at $326 a month with Affirm. </span> </p>
			<a href="/products/ultra-tower-surround-package" class="learn-more " onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - Ultra Tower Surround System Shop Now Link');">Shop Now</a>
		</div>

	</div>
</section>

<section class="two-up">
	<div class="wrap">

		<div class="column">
			<h5 class="two-up__subheading"> The Catch of a Lifetime Bass - SB13-Ultra Subwoofer </h5>
			<p>
				The most reviewed and awarded subwoofer of all time, like Dad, the SB13-Ultra Subwoofer is a legend and the choice for serious home theater and music fans. Astonishing speed, pinpoint accuracy, and deep, authoritative bass inspired DigitalTrends to proclaim, “If there is a more perfect subwoofer in production today, we haven't heard it yet.”
			</p>
			<p class="sp-price"> From $1,599.99 <span>Starting at $141 a month with Affirm. </span> </p>
			<a href="/products/sb13-ultra" class="learn-more " onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - SB13-Ultra Shop Now Link');">Shop Now</a>
		</div>

		<div class="column">
			<a href="/products/sb13-ultra" onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - SB13-Ultra Image Link');"><img src="{{ 'grad-guide-ultra13.jpg' | asset_url }}" alt="" class="gg-sb13 "></a>
		</div>

	</div>
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/products/soundpath-ultra-speaker-cable" onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - SoundPath Ultra Cables Image Link');"><img src="{{ 'fdgg-ultra-cable.jpg' | asset_url }}" alt="" class="gg-sb13 float-right"></a>
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> Always Well Connected - SoundPath Ultra Speaker Cables </h5>
			<p>
				Engineered for absolute signal purity, SoundPath Ultra Speaker Cables unleash the full potential of Dad’s audio system for much less than exotic, snake-oil cables. Hand-soldered by our craftsman in Ohio to any length with custom terminations, SoundAdviceNew said in a review, “They offer the same sonic benefits as speaker cables I’ve heard that cost $20,000.”
			</p>
			<p class="sp-price"> From $43.99 </p>
			<a href="/products/soundpath-ultra-speaker-cable" class="learn-more " onClick="ga('send', 'event', 'Father's Day, 'Click', 'Gift Guide - SoundPath Ultra Cables Shop Now Link');">Shop Now</a>
		</div>

	</div>
</section>

<section class="two-up">
	<div class="wrap">
		<div class="column">
			<h5 class="two-up__subheading"> Better Bass, Better Neighbor - SoundPath Subwoofer Isolation System </h5>
			<p>
				Dads who already enjoy the benefits of a subwoofer will love the benefits of the Soundpath Subwoofer Isolation System. The special elastomer feet decouple subwoofers from the floor to eliminate room rattle and provide cleaner, tighter and more palpable bass, all while reducing the vibrations neighbors feel in their walls and ceilings.
			</p>
			<p class="sp-price"> From $49.99 </p>
			<a href="/products/soundpath-subwoofer-isolation-system" class="learn-more " onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - SoundPath Isolation System Shop Now Link');">Shop Now</a>
		</div>

		<div class="column">
			<a href="/products/soundpath-subwoofer-isolation-system" onClick="ga('send', 'event', 'Father's Day', 'Click', 'Gift Guide - SoundPath Isolation System Image Link');"><img src="{{ 'fdgg-iso.jpg' | asset_url }}" alt="" class="gg-sb13"></a>
		</div>

	</div>
</section>
