{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}

<section class="full-column first-section">
	<div class="wrap gift-guide-intro">

		<h3> An SVS Audio System Delivers Dynamics and Realism Befitting a Champion </h3>
		<p>
			Sports and home theater fans have something to cheer about since football’s biggest game is being broadcast in crystal clear 5.1 Dolby Surround Sound. From the pre-game flyover, to the halftime show spectacular, to every bone-jarring hit and quarterback audible leading up to the final whistle, football’s championship game is not only an unofficial American holiday, it’s also an audio spectacle.
		</p>
		<p> The best way to capture the full excitement of the big game is with an SVS audio system that recreates the adrenaline-charged dynamics of a packed stadium. </p>

	</div>
</section>


<section class="full-column bg-grey">
	<div class="wrap">
		<h5 class="heading-with-underline"> The Budding Superstar Experience </h5>
		<a href="/products/prime-satellite-5-1"><img src="{{ 'big-game-5-1.png' | asset_url }}"></a>

		<p> 
			<a href="/products/prime-satellite-5-1">Our Prime Satellite 5.1 Speaker System (also available in NEW! White Gloss)</a> delivers every QB cadence with accuracy and authority, creates an enveloping soundstage to keep you on edge of your seat, and pumps out deep, authoritative bass that lets you feel the impact of every hit and tackle. Plus, it’s compact enough to leave plenty of room for big game snacks.
		</p>
		<a href="/products/prime-satellite-5-1" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - SoundPath Audio Accessories Link');" class="learn-more">Shop Now</a>
	</div>		
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/products/prime-tower-surround-system" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime 2.1 Image Link');"><img src="{{ 'prime-tower-surround-system_grande.jpg' | asset_url }}" alt="" class="float-right gg-prime-2-1 white-bg"></a>
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> The First Row, 50 Yard-Line Experience </h5>
			<p>
				Create an experience that outclasses the best seat in the stadium from the most comfortable seats in your house. Two <a href="/products/prime-tower">Prime Towers,</a> a <a href="/products/prime-center">Prime Center,</a> and two <a href="/products/prime-satellite">Prime Satellites</a> combine with an <a href="/products/sb-2000">SB-2000</a> Subwoofer for championship level dynamics all day long, without the lines or distractions.
			</p>
			<a href="/products/prime-tower-surround-system" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime 2.1 Learn More Link');"> The Prime Tower System</a>
		</div>

	</div>
</section>

<section class="two-up">
	<div class="wrap">
		<div class="column">
			<h5 class="two-up__subheading"> The Luxury Box Experience </h5>
			<p> 
				For the ultimate big game baller, the <a href="/products/ultra-tower-surround-package">Ultra Tower Surround Package</a> is without question an MVP experience and will turn any big game viewing party into a transcendent sports experience. Add in an <a href="/products/sb13-ultra">SB13-Ultra subwoofer</a> and you’ll be the envy of anyone not on the field. 
			</p>
			<a href="/products/ultra-tower-surround-package" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime Bookshelf Shop Now Link');">Shop Now</a>
		</div>

		<div class="column">
			<a href="/products/ultra-tower-surround-package" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime Bookshelf Image Link');"><img src="{{ 'ultra-surround-big-game.png' | asset_url }}" alt="" class="gg-prime-book"></a>
		</div>
	</div>
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/collections/dual-subwoofers" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime 5.1 Image Link');"><img src="{{ 'dual_sb2000_gloss.png' | asset_url }}" alt="" class="float-right gg-prime-5-1"></a>
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> The Monster Bass Blitz Experience </h5>
			<p> 
				Integrating dual subwoofers is the best way to smooth out the frequency response in a larger party area and ideal for providing effortless bass that grabs everyone’s attention from the opening kick-off to the celebratory fireworks. Previous subwoofer owners may also qualify for a retroactive dual subwoofer discount!  Contact <a href="/pages/customer-service">our Sound Experts</a> for more information. 
			</p>
			<a href="/collections/dual-subwoofers" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime 5.1 Shop Now Link');">Shop Now</a>
		</div>

	</div>
</section>

<section class="two-up">
	<div class="wrap">
		<div class="column">
			<h5 class="two-up__subheading"> The I’m Mostly Here for the Commercials Experience </h5>
			<p> 
				Our <a href="/products/prime-satellite-2-1">Prime Satellite 2.1 System (now in NEW! White Gloss)</a> is a compact, lifestyle friendly system for anyone who loves a good game but is more interested in seeing what iconic or hilarious new advertisements are in store from their favorite brands. Dialogue sparkles, music infects and sound effects come through with amazing clarity to create memorable on and off-the-field moments.
			</p>
			<a href="/products/prime-satellite-2-1" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime Tower Surround System Shop Now Link');">Shop Now</a>
		</div>

		<div class="column">
			<a href="/products/prime-satellite-2-1" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime Tower Surround System Image Link');"><img src="{{ '2-1-white-big-game.png' | asset_url }}" alt="" class="bg-2-1"></a>
		</div>

	</div>
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/collections/dual-subwoofers" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Go Dual Image Link');"><img src="{{ 'soundpath_accessories-big-game.jpg' | asset_url }}" alt="" class="float-right gg-dual"></a>
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> The Expert Grounds Crew Experience </h5>
			<p> 
				All speakers and subwoofers need accessories working behind the scenes to ensure pristine signal transfer and optimal sound quality. Our <a href="/pages/soundpath">NEW! SoundPath Audio Accessories</a> are expertly designed to get the best possible performance out of all your speakers and subwoofers, no matter what the conditions.
			</p>
			<a href="/pages/soundpath" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Go Dual Shop Now Link');">Shop Now</a>
		</div>

	</div>
</section>