{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}

<section class="full-column first-section">
	<div class="wrap gift-guide-intro">

      <h2 class="full-column__heading"> <span>The Ideal Gift is</span> Mesmerizing SVS Audio Experiences All Year 'Round </h2>

		<img src="{{ 'after-holiday-hero.jpg' | asset_url }}" alt="Expertise + Passion">

		<h3> 2015 SVS Holiday Gift Guide </h3>
		<p>
			Each of our best-in-class audio products is backed by lifetime Sound Experts technical and product support and the generous SVS Customer Bill of Rights, all for an unmatched price. Browse customer favorites below or discover endless possibilities at any budget on our site.
		</p>

	</div>
</section>


<section class="full-column bg-grey">
	<div class="wrap">
		<h5 class="heading-with-underline"> NEW! SVS SoundPath Audio Accessories </h5>
		<img src="{{ 'soundpath_accessories.jpg' | asset_url }}">

		<p> Perfect Stocking Stuffers for Audio Buffs  – <strong>NEW! SoundPath Accessories</strong> </p>
		<p class="gg-margin-bot"> <strong>Ideal for:</strong> Anyone who desires high end audio performance but doesn’t want to overpay or put the integrity of their system at risk. </p>
		<p class="sp-price"> From $9.99 </p>
		<a href="/pages/soundpath" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - SoundPath Audio Accessories Link');" class="learn-more">Learn More</a>
	</div>		
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/products/prime-satellite-2-1" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime 2.1 Image Link');"><img src="{{ 'prime_sat_two_one_gloss.png' | asset_url }}" alt="" class="float-right gg-prime-2-1 white-bg"></a>
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> Compact 2.1 System Punches Well Above its Class </h5>
			<p>
				Our Prime Satellite 2.1 System (now in NEW! White Gloss) is a lifestyle friendly system consisting of two SVS Prime Satellite speakers and an SB-1000 Subwoofer, but don’t let its small footprint fool you, this compact system outclasses much bigger and more expensive speakers with ease.
			</p>
			<p> <strong>Ideal for:</strong> Anyone who wants big sound without speakers that visually dominate a room’s décor.  Also great as a desktop or gaming system. </p>
			<p class="sp-price"> From $699.99 </p>
			<a href="/products/prime-satellite-2-1" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime 2.1 Learn More Link');">Shop Now</a>
		</div>

	</div>
</section>

<section class="two-up">
	<div class="wrap">
		<div class="column">
			<h5 class="two-up__subheading"> Audiophile Experience in Any Room </h5>
			<p> Our Prime Bookshelf Speakers bring every nuance and detail of your entertainment to life and offer an expansive soundstage, powerful performance across the frequency spectrum and easy set-up options. </p>
			<p> <strong>Ideal for:</strong> Anyone who loves a powerful and revealing two-channel listening experience. Also great for vinyl lovers with flexible placement on bookshelves, desktops, or stands. </p>
			<p class="sp-price"> From $249.99 </p>
			<a href="/products/prime-bookshelf" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime Bookshelf Shop Now Link');">Shop Now</a>
		</div>

		<div class="column">
			<a href="/products/prime-bookshelf" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime Bookshelf Image Link');"><img src="{{ 'prime_bookshelf_two_up_gloss.png' | asset_url }}" alt="" class="gg-prime-book"></a>
		</div>
	</div>
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/products/prime-satellite-5-1" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime 5.1 Image Link');"><img src="{{ 'prime_sat_five_one_gloss.png' | asset_url }}" alt="" class="float-right gg-prime-5-1"></a>
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> Immersive Surround Sound Experience, for the Price of a Soundbar </h5>
			<p> Our Prime Satellite 5.1 Speaker System (also available in NEW! White Gloss) delivers crystal clear dialogue and vocals, an enveloping soundstage, accurate, deep bass, and seamless sonic transitions from front to back and side to side. </p>
			<p> <strong>Ideal for:</strong> Anyone who wants a compact system and loves to feel completely immersed in movies, music, TV, gaming, sports and other audio experiences. </p>
			<p class="sp-price"> From $999.99 </p>
			<a href="/products/prime-satellite-5-1" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime 5.1 Shop Now Link');">Shop Now</a>
		</div>

	</div>
</section>

<section class="two-up">
	<div class="wrap">
		<div class="column">
			<h5 class="two-up__subheading"> The “I’ve Been Really, Really Good This Year” Home Theater Package </h5>
			<p> 
				Create an experience that outclasses the local movie theater from the most comfortable seats in the house. Two Prime Towers, a Prime Center, and two Prime Satellites combine with an SB-2000 Subwoofer for concert and cinema level dynamics all day long, with no lines or distractions. </p>
			<p> <strong>Ideal for:</strong> The passionate home theater lover who wants to create the ultimate surround sound experience. Also great as the centerpiece for a finished basement or living room. </p>
			<p class="sp-price"> From $1549.99 </p>
			<a href="/products/prime-tower-surround-system" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime Tower Surround System Shop Now Link');">Shop Now</a>
		</div>

		<div class="column">
			<a href="/products/prime-tower-surround-system" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Prime Tower Surround System Image Link');"><img src="{{ 'prime_tower_system_gloss.png' | asset_url }}" alt="" class="gg-prime-tower"></a>
		</div>

	</div>
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/collections/dual-subwoofers" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Go Dual Image Link');"><img src="{{ 'dual_sb2000_gloss.png' | asset_url }}" alt="" class="float-right gg-dual"></a>
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> In the SVS Family Already? Go Dual for Subwoofer Performance and Savings </h5>
			<p> Considering a system upgrade to smooth out the frequency response in a larger listening area and to provide effortless bass with more headroom? Go Dual with our 2000 or 1000 Series, and maximize low frequency performance in any set-up. </p>
			<p> <strong>Ideal for:</strong> Anyone who wants the best possible bass output in any room-set-up. </p>
			<p class="sp-price"> From $949.99 </p>
			<a href="/collections/dual-subwoofers" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - Go Dual Shop Now Link');">Shop Now</a>
		</div>

	</div>
</section>

<section class="two-up">
	<div class="wrap">
		<div class="column">
			<h5 class="two-up__subheading"> Upgrade Bass to Boss Level with the SB13-Ultra Subwoofer </h5>
			<p> Our SB13-Ultra Sealed Subwoofer is the most reviewed subwoofer on the planet and a favorite among serious home theater and music fans for its astonishing accuracy and speed, deep, distortion-free bass, and hair-raising low frequency effects. </p>
			<p> <strong>Ideal for:</strong> Anyone who wants the absolute best subwoofer performance possible so they never miss a moment of low frequency action. </p>
			<p class="sp-price"> From $1,599.99 </p>
			<a href="/products/sb13-ultra" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - SB13-Ultra Shop Now Link');">Shop Now</a>
		</div>

		<div class="column">
			<a href="/products/sb13-ultra" onClick="ga('send', 'event', 'Holiday', 'Click', 'Gift Guide - SB13-Ultra Image Link');"><img src="{{ 'sb13_ultra_gloss.png' | asset_url }}" alt="" class="gg-sb13"></a>
		</div>

	</div>
</section>