{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}


  <section class="system-package left first-section radial-shadow--top radial-shadow--bottom">
    <div class="wrap">
      <a href="/products/ultra-tower-surround-package"><img src="{{ 'ultra-tower-surround-system_grande.jpg' | asset_url }}" alt=""></a>

      <div class="system-package__content">
        <h2 class="system-package__heading">Ultra Tower</h2>
        <h3 class="system-package__subheading">Surround Package</h3>

        <h4 class="price">$3699.99</h4>

        <div class="ratings">
          <div class="yotpo bottomLine"
            data-appkey="HdJCHwgGKWTR3bjV3wLXBWXZPqevq08IVff2bQGs"
            data-domain="{{ shop.permanent_domain | escape }}"
            data-product-id="3281008515"
            data-name="Ultra Tower"
            data-image-url="//cdn.shopify.com/s/files/1/0921/3560/products/Ultra_tower_PG_pair_large.jpg%3Fv=1446063598"
            data-description="Flagship tower loudspeaker with 3.5-way crossover, 1&quot; aluminum dome tweeter, dual 6.5&quot; midrange drivers and dual horizontally-opposed 8&quot; woofers."
            data-description="2x Prime Tower, 2x Prime Satellite, 1x Prime Center">
          </div>
        </div>

        <div class="system-package__copy">
          <p>The Ultra Tower Surround Package provides the ultimate home theater escape, transporting the enthusiast to a world filled with cinematic excitement and convincing action! Experience reference-grade theater sound, with a coherent soundstage, pinpoint imaging, superb detail and sonic transparency exceeding even the finest commercial cinemas. Thanks to SVS’s proprietary duet mode in the Ultra Surround speakers, this system can provide a true 7 channel experience with only 5 full-range speakers!</p>
        </div>

        <div class="includes">
          <h6>Includes:</h6>
          <ul>
            <li>2x <a href="/products/ultra-tower">Ultra Tower</a>,</li>
            <li>2x <a href="/products/ultra-tower-surround-package">Ultra Surround</a>,</li>
            <li>1x <a href="/products/ultra-center">Ultra Center</a>,</li>
          </ul>
        </div>
        <div class="suggestions">
          <p>Suggested Matching SVS Subwoofer: 
            <a href="#"><strong>SB13-Ultra</strong></a>,
            <a href="#"><strong>PB13-Ultra</strong></a>,
            <a href="#"><strong>PC13-Ultra</strong></a>
          </p>
        </div>
        <div class=" syspbtnoutter cf">
        <div class="syspbtninnerright">
        <a href="/products/ultra-tower-surround-package" class="svs-learn">Learn More</a>
        <form method="post" name="addtocart" action="/cart/add">
    <input type="hidden" name="id" value="9601195331" />
        <a href='#' class="svs-buy" onclick="$(this).closest('form').submit(); ga('send', 'event', 'Collection', 'Click', 'Buy Now - Prime Tower Surround Package'); return false; ">Add to Cart</a>
  </form>
        </div>
        </div>
      </div>

    </div>
  </section>

  <section class="system-package right">
    <div class="wrap">

      <a href="/products/ultra-bookshelf-surround-package"><img src="{{ 'UltraBookshelfSurround_03_flat.jpg' | asset_url }}" alt=""></a>

      <div class="system-package__content">
        <h2 class="system-package__heading">Ultra Bookshelf</h2>
        <h3 class="system-package__subheading">Surround Package</h3>

        <h4 class="price">$2699.99</h4>

        <div class="ratings">
          <div class="yotpo bottomLine yotpo-small"
            data-appkey="HdJCHwgGKWTR3bjV3wLXBWXZPqevq08IVff2bQGs"
            data-domain="{{ shop.permanent_domain | escape }}"
            data-product-id="3290765379"
            data-product-models="3290765379"
            data-name="Ultra Bookshelf Surround Package"
            data-url="{{ shop.permanent_domain | escape }}/products/ultra-bookshelf-surround-package"
            data-image-url="//cdn.shopify.com/s/files/1/0921/3560/products/ultra-bookshelf-surround-system_large.jpg%3Fv=1446522545"
            data-description="Ultra Bookshelf Surround Package"
            data-bread-crumbs="Newco;"
            data-yotpo-element-id="2">
        </div>
        </div>

        <div class="system-package__copy">
          <p>The Ultra Bookshelf Surround Package brings movies to life with stunning realism, delivering a rush of excitement when the lights go down and the soundtrack starts! The Ultra Bookshelf speakers are astonishingly dynamic and convincing, belying their elegant size and form factor. Thanks to SVS’s proprietary duet mode in the Ultra Surround speakers, this system can provide a true 7 channel experience with only 5 full-range speakers! Pair this superb system with an SVS subwoofer for extreme full-range performance that will make your home theater the envy of the neighborhood!</p>
        </div>

        <div class="includes">
          <h6>Includes:</h6>
          <ul>
            <li>2x <a href="/products/ultra-bookshelf-surround-package">Ultra Bookshelf</a>,</li>
            <li>2x <a href="/products/ultra-surround">Ultra Surround</a>,</li>
            <li>1x <a href="/products/ultra-center">Ultra Center</a>,</li>
          </ul>
        </div>
        <div class="suggestions">
          <p>Suggested Matching SVS Subwoofer: 
            <a href="/products/sb13-ultra"><strong>SB13-Ultra</strong></a>,
            <a href="/products/pb13-ultra"><strong>PB13-Ultra</strong></a>,
            <a href="/products/pc13-ultra"><strong>PC13-Ultra</strong></a>
          </p>
        </div>
        <div class=" syspbtnoutter cf">
        <div class="syspbtninnerleft">
        <a href="/products/ultra-bookshelf-surround-package" class="svs-learn">Learn More</a>
        <form method="post" name="addtocart" action="/cart/add">
    <input type="hidden" name="id" value="9567211843" />
        <a href='#' class="svs-buy" onclick="$(this).closest('form').submit(); ga('send', 'event', 'Collection', 'Click', 'Buy Now - Prime Tower Surround Package'); return false; ">Add to Cart</a>
  </form>
        </div>
        </div>
      </div>
      
    </div>
  </section>
