{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}
		

  <section class="system-package left first-section radial-shadow--top radial-shadow--bottom">
    <div class="wrap">
      <a href="/products/prime-tower-surround-system"><img src="{{ 'prime-tower-surround-system_grande.jpg' | asset_url }}" alt=""></a>			


      <div class="system-package__content">
        <h2 class="system-package__heading">Prime Tower</h2>
        <h3 class="system-package__subheading">Surround Package</h3>

        <h4 class="price">$1549.99 <span>Premium Black Ash Finish</span></h4>

        <div class="ratings">
          <div class="yotpo bottomLine"
          data-appkey="HdJCHwgGKWTR3bjV3wLXBWXZPqevq08IVff2bQGs"
          data-domain="{{ shop.permanent_domain | escape }}"
          data-product-id="3291480899"
          data-product-models="3291480899"
          data-name="Prime Tower Surround System"
          data-url="{{ shop.permanent_domain | escape }}/products/prime-tower-surround-system"
          data-image-url="//cdn.shopify.com/s/files/1/0921/3560/products/prime-tower-surround-system_large.jpg%3Fv=1446522361"
          data-description="2x Prime Tower, 2x Prime Satellite, 1x Prime Center"
          data-yotpo-element-id="2">
          </div>
        </div>

        <div class="system-package__copy">
          <p>Create an experience that rivals your local movie theater – without the hassle of waiting in line, buying tickets and sticky floors. Combining the stunning power of two Prime Tower speakers, a Prime center channel, and two Prime Satellite surround speakers, there’s no action movie a Prime Tower system can’t bring to life, no concert it can’t reproduce. The only downside, friends will always pick your house for movie night.</p>
        </div>

        <div class="includes">
          <h6>Includes:</h6>
          <ul>
            <li>2x <a href="/products/prime-tower">Prime Tower</a>,</li>
            <li>2x <a href="/products/prime-satellite">Prime Satellites</a>,</li>
            <li>1x <a href="/products/prime-center">Prime Center</a>,</li>
          </ul>
        </div>
        <div class="suggestions">
          <p>Suggested Matching SVS Subwoofer: 
            <a href="/products/sb-2000"><strong>SB-2000</strong></a>,
            <a href="/products/pb-2000"><strong>PB-2000</strong></a>,
            <a href="/products/pc-2000"><strong>PC-2000</strong></a>
          </p>
        </div>
        <div class=" syspbtnoutter cf">
        <div class="syspbtninnerright">
        <a href="/products/prime-tower-surround-system" class="svs-learn">Learn More</a>
        <form method="post" name="addtocart" action="/cart/add">
    <input type="hidden" name="id" value="9571271043" />
        <a href='#' class="svs-buy" onclick="$(this).closest('form').submit(); ga('send', 'event', 'Collection', 'Click', 'Buy Now - Prime Tower Surround Package'); return false; ">Add to Cart</a>
  </form>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="system-package right ">

    <div class="wrap">

      <a href="/products/prime-bookshelf-surround-system"><img src="{{ 'bookshelf-system.png' | asset_url }}" alt=""></a>

      <div class="system-package__content">
        <h2 class="system-package__heading">Prime Bookshelf</h2>
        <h3 class="system-package__subheading">Surround Package</h3>

        <h4 class="price">$1,049.99 <span>Premium Black Ash Finish</span></h4>

        <div class="ratings">
          <div class="yotpo bottomLine yotpo-small"
            data-appkey="HdJCHwgGKWTR3bjV3wLXBWXZPqevq08IVff2bQGs"
            data-domain="{{ shop.permanent_domain | escape }}"
            data-product-id="3291478787"
            data-product-models="3291478787"
            data-name="Prime Bookshelf Surround System"
            data-url="{{ shop.permanent_domain | escape }}/collections/bundled-products/products/prime-bookshelf-surround-system"
            data-image-url="//cdn.shopify.com/s/files/1/0921/3560/products/prime-bookshelf-surround-system_large.jpg%3Fv=1446522263"
            data-description="2x Prime Bookshelf, 2x Prime Satellite, 1x Prime Center"
            data-yotpo-element-id="2">
        </div>
        </div>   

        <div class="system-package__copy">
          <p>A dream system that fits your living space. With handsome styling, huge dynamics and amazing performance, the Prime Bookshelf system is your ticket to audio nirvana. The sonically tuned Prime Bookshelf speakers, Prime Center channel, and Prime Satellite surround speakers will envelop you with musicality and audio playback without visually dominating your room. Add any SVS Subwoofer from our entire line for low-frequency punch.</p>
        </div>

        <div class="includes">
          <h6>Includes:</h6>
          <ul>
            <li>2x <a href="/products/prime-bookshelf">Prime Bookshelf</a>,</li>
            <li>2x <a href="/products/prime-satellite">Prime Satellites</a>,</li>
            <li>1x <a href="/products/prime-center">Prime Center</a>,</li>
          </ul>
        </div>
        <div class="suggestions">
          <p>Suggested Matching SVS Subwoofer: 
            <a href="/products/sb-2000"><strong>SB-2000</strong></a>,
            <a href="/products/pb-2000"><strong>PB-2000</strong></a>,
            <a href="/products/pc-2000"><strong>PC-2000</strong></a>
          </p>
        </div>
        <div class="syspbtnoutter cf">
        <div class="syspbtninnerleft">
        <a href="/products/prime-bookshelf-surround-system" class="svs-learn">Learn More</a>
        <form method="post" name="addtocart" action="/cart/add">
    <input type="hidden" name="id" value="9571260483" />
        <a href='#' class="svs-buy" onclick="$(this).closest('form').submit(); ga('send', 'event', 'Collection', 'Click', 'Buy Now - Prime Bookshelf Surround Package'); return false; ">Add to Cart</a>
  </form>
        </div>
        </div>
      </div>

    </div>
  </section>

  <section class="system-package left radial-shadow--top radial-shadow--bottom">
    <div class="wrap">

      <a href="/products/prime-satellite-5-1"><img src="{{ 'prime-satellite-5-1_grande.jpg' | asset_url }}" alt=""></a>

      <div class="system-package__content">
        <h2 class="system-package__heading">Prime Satellite 5.1</h2>
        <h3 class="system-package__subheading">Surround Package</h3>

        <h4 class="price">$999.99 <span>Premium Black Ash Finish</span></h4>

        <div class="ratings">
          <div class="yotpo bottomLine yotpo-small"
          data-appkey="HdJCHwgGKWTR3bjV3wLXBWXZPqevq08IVff2bQGs"
          data-domain="svsound-2.myshopify.com"
          data-product-id="3291216259"
          data-product-models="3291216259"
          data-name="Prime Satellite 5.1"
          data-url="{{ shop.permanent_domain | escape }}/collections/bundled-products/products/prime-satellite-5-1"
          data-image-url="//cdn.shopify.com/s/files/1/0921/3560/products/prime-satellite-5-1_large.jpg%3Fv=1446522110"
          data-description=""
          data-yotpo-element-id="2">
        </div>
        </div>
        <div class="system-package__copy">
          <p>The 5.1 system delivers a totally immersive surround sound experience for the price of a soundbar. Don’t sacrifice movie and music enjoyment by settling for the underwhelming dynamics of a HTIB or soundbar/sub combo. Put yourself in the middle of the action with five channels of discrete, high-performance audio and a world class SVS subwoofer. The system is compact enough to blend with any room’s décor but you would never know that after hearing them perform.</p>
        </div>

        <div class="includes">
          <h6>Includes:</h6>
          <ul>
            <li>5x <a href="/products/prime-satellite">Prime Satellites</a>,</li>
            <li>1x <a href="/products/sb-1000">SB-1000</a></li>
          </ul>
        </div>
        <div class="syspbtnoutter cf">
        <div class="syspbtninnerright">
        <a href="/products/prime-satellite-5-1" class="svs-learn">Learn More</a>
        <form method="post" name="addtocart" action="/cart/add">
    <input type="hidden" name="id" value="9569601347" />
        <a href='#' class="svs-buy" onclick="$(this).closest('form').submit(); ga('send', 'event', 'Collection', 'Click', 'Buy Now - Prime Satellite 5.1'); return false; ">Add to Cart</a>
  </form>
          </div>
        </div>
      </div>
      
    </div>
  </section>




<section class="system-package right ">

    <div class="wrap">

      <a href="/products/prime-bookshelf-surround-system"><img src="{{ '2-1-white-big-game.png' | asset_url }}" alt=""></a>

      <div class="system-package__content">
        <h2 class="system-package__heading">Prime Satellite 2.1</h2>
        <h3 class="system-package__subheading">Speaker Package</h3>

        <h4 class="price">$699.99 <span>Premium Black Ash Finish</span></h4>

        <div class="ratings">
          <div class="yotpo bottomLine yotpo-small"
            data-appkey="HdJCHwgGKWTR3bjV3wLXBWXZPqevq08IVff2bQGs"
            data-domain="{{ shop.permanent_domain | escape }}"
            data-product-id="3291478787"
            data-product-models="3291478787"
            data-name="Prime Bookshelf Surround System"
            data-url="{{ shop.permanent_domain | escape }}/collections/bundled-products/products/prime-bookshelf-surround-system"
            data-image-url="//cdn.shopify.com/s/files/1/0921/3560/products/prime-bookshelf-surround-system_large.jpg%3Fv=1446522263"
            data-description="2x Prime Bookshelf, 2x Prime Satellite, 1x Prime Center"
            data-yotpo-element-id="2">
          </div>
        </div>   

        <div class="system-package__copy">
          <p>Our Prime Satellite 2.1 System (now in NEW! White Gloss) is a lifestyle friendly system consisting of two SVS Prime Satellite speakers and an SB-1000 Subwoofer, but don’t let its small footprint fool you, this compact system outclasses much bigger and more expensive speakers with ease.</p>
        </div>

        <div class="includes">
          <h6>Includes:</h6>
          <ul>
            <li>2x <a href="/products/prime-satellite">Prime Satellites</a>,</li>
            <li>1x <a href="/products/sb-1000">SB-1000</a></li>
          </ul>
        </div>
        <div class="syspbtnoutter cf">
        <div class="syspbtninnerleft">
        <a href="/products/prime-satellite-2-1" class="svs-learn">Learn More</a>
        <form method="post" name="addtocart" action="/cart/add">
    <input type="hidden" name="id" value="9568849603" />
        <a href='#' class="svs-buy" onclick="$(this).closest('form').submit(); ga('send', 'event', 'Collection', 'Click', 'Buy Now - Prime Satellite 2.1'); return false; ">Add to Cart</a>
  </form>
          </div>
        </div>
      </div>

    </div>
  </section>