<style>
  .header-description {
    display:none
  }
  sup {
    vertical-align:top;
    font-size:12px;
  }

  .collection-header .wrap {
    padding:0px;
    max-height:100%
  }
  .article-links a {
    color:#386cb0;
  }
  h1 {
    font-family: "Open Sans", sans-serif, Helvetica, Arial;
    font-size: 36px;
    line-height: .875;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    color:#000;
  }
  h1 span {
        font-size: 48px;
    font-weight: 800;
    letter-spacing: 0;
    display: block;
  }
  .series ul {
     margin-bottom: 15px;
    padding-left: 22px;
    list-style: none;
  }
  .series li:before {
     content: '\f101';
    font-family: FontAwesome;
    margin-left: -22px;
    padding-right: 7px;
    color: #386cb0;
  }
</style>
{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}
<div class="lp-gen-speakers-2016-wrap">
  <section class="">
    <div class="wrap">
      <p>
        Immersive audio formats such as Dolby Atmos®, DTS:X® and Auro 3D® are pushing the boundaries of home theater and music beyond a single plane of surround sound into the realm of overhead height effects so sound emanates from speakers all around to create a 3D soundfield. This applies to ambient noise and for sound effects which we identify as being near or far away, or even zooming towards us based on the volume and directionality of the sound effect.
      </p>
      <p>
        Commonly referred to as “object based surround sound”, Dolby Atmos, DTS:X and Auro-3D use height effects to create the most convincing home audio experience possible for movies, TV, music and gaming lovers. The sound of rain falling all around you, an arrow or bullet whizzing by your head, or the panning effect of a jumbo jet flying over, these are the kind of head-spinning, duck-for-cover audio experiences that create a more convincing audio experience.
      </p>
      <p>
        When choosing the best Dolby Atmos, DTS:X and Auro-3D home audio speakers, always look for full-range and direct radiating speakers that beam sound directly at the listening area for maximum sonic immersion and impact. In-ceiling loudspeakers and ceiling bounce speakers are also an option, but many find the performance compromised and the installation intrusive.
      </p>
      <p>
        Each audio format has a unique approach, so here’s the official videos to help explain the technology further:
      </p>
      <div class="grid-2">
        <div class="col-1-3">
          <h5> DOLBY ATMOS </h5>
          <div class="video-embed-wrap">
            <iframe class="youtubeplayer" width="560" height="315" src="https://www.youtube.com/embed/SilQME2HgxI" frameborder="0" allowfullscreen ></iframe>
          </div>
        </div>
        <div class="col-1-3">
          <h5> DTS:X </h5>
          <div class="video-embed-wrap">
            <iframe class="youtubeplayer" width="560" height="315" src="https://www.youtube.com/embed/qEbRNeOcf9c" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-1-3" style="padding-right: 20px;">
          <h5> AURO-3D </h5>
          <div class="video-embed-wrap">
            <iframe class="youtubeplayer" width="560" height="315" src="https://www.youtube.com/embed/WTjdPWh4qHI" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="article-links">
        <h5> Helpful Articles </h5>
        <a href="/blogs/svs/75358787-intro-to-dolby-atmos"> Intro to Dolby Atmos </a>
        <p>Background on how Dolby Atmos was developed and tips for placement and mounting of height effect speakers.</p>
        <a href="/blogs/svs/what-is-a-height-effects-speaker"> What are Height Effects Speakers and Object Based Surround Sound? </a>
        <p>General explanation of how Dolby Atmos, DTS:X and Auro-3D works and what to look for when researching options.</p>
        <a href="/pages/prime-elevation"> Direct Radiating vs. Ceiling Bounce for Height Effects </a>
        <p>Comparison of different height effect speaker solutions and how SVS Prime Elevation takes an innovative approach.</p>
      </div>
    </div>
  </section>

    <section class="bg-grey">
        <div class="wrap">
            <div class="series">

                <div class="grid-2">
                    <h2> Enhance your home theater with immersive Dolby Atmos, DTS:X and Auro-3D speakers. </h2>
                    <div class="col-1-2 series">
                        <a href="/products/prime-elevation" onClick="ga('send', 'event', 'Atmos Landing Page', 'Click', 'Prime Elevation');">
                            <h5> Prime Elevation Speakers <span class="italic">$199.99 each</span> </h5>
                        </a>
                        <a href="/products/prime-elevation" onClick="ga('send', 'event', 'Atmos Landing Page', 'Click', 'Prime Elevation');">
                            <img src="{{ 'atmos-lp-el.jpg' | asset_url }}">
                        </a>
                        <ul data-match-height="p1">
                            <li> Angled front baffle enables direct radiating of sound down towards the listening area with no unpredictable ceiling bounce. </li>
                            <li> No frequency response limiting, recessed tweeters, unpredictable ceiling bounce or other compromises of typical height effect speakers. </li>
                            <li> Refined acoustics and full range dynamics make it ideal for immersive Dolby Atmos, DTS:X and Auro-3D height effects. </li>
                            <li> Easily mounts on a front, side or back wall, or directly overhead on the ceiling for maximum placement versatility. </li>
                            <li> Installation-friendly Multi-Angle Wall Bracket (patent pending) included. </li>
                        </ul>
                        <a href="/products/prime-elevation" class="cta-full-blue cta-align-1" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Prime Bookshelf Series');"> Learn More </a>
                    </div>

                    <div class="col-1-2 series">
                        <a href="/products/prime-satellite" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Ultra Bookshelf Series');">
                            <h5> Prime Satellite Speakers <span class="italic">$134.99 each</span> </h5>
                        </a>
                        <a href="/products/prime-satellite" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Ultra Bookshelf Series');">
                            <img src="{{ 'atmos-lp-sat.jpg' | asset_url }}">
                        </a>
                        <ul data-match-height="p1">
                            <li> Obliterates existing benchmarks for super compact height effects speaker performance. </li>
                            <li> Incredible dynamic impact, superb tonal balance and exquisite build quality not previously available in a satellite height effects speaker. </li>
                            <li> Versatile placement options with keyhole wall bracket (included) or SoundPath Pivoting Wall/Ceiling Bracket (not included). </li>
                            <li> Compact, décor-friendly design and premium finishes accentuate any room décor without taking over visually. </li>
                            <li> Most affordable, highly immersive heights effects speaker available. </li>
                        </ul>
                        <a href="/products/prime-satellite" class="cta-full-blue" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Ultra Bookshelf Series');"> Learn More </a>
                    </div>
                </div>
            </div>
            <p class="lp-lfm bt">
                <a href="/pages/speakers"> <img src="{{ 'ultra_fam-atmos-lp.png' | asset_url }}"> </a>
                Interested in tower, bookshelf, center channel, surround, or satellite speakers?
            </p>
            <p class="lp-lfm">
                SVS Ultra and Prime Series speakers and all SVS subwoofers are sonically matched to blend seamlessly so you can combine any of our products to create your perfect audio system. <span> Learn about all models on our <a href="/pages/speakers">SVS speaker page.</a> </span>
            </p>
        </div>
    </section>

    <section class="">
        <div class="wrap">
            <h3> Curious what the experts are saying about SVS speakers for height effects? Here’s some recent DTS:X, Auro-3D and Dolby Atmos speaker reviews. See all reviews on the <a href="/blogs/press-reviews">SVS Press Reviews Page.</a> </h3>
            <div class="grid-2">
                <div class="quotes cf">
                    <blockquote class="col-1-3">
                        <p> “The smartest and most practical speaker I’ve come across. <strong>Perfect for any Dolby Atmos, DTS:X, or Auro-3D</strong>.” </p>
                        <img class="attribution" src="https://cdn.shopify.com/s/files/1/0921/3560/files/reviews_pcworld_logo.jpg?12811552983982738480">
                    </blockquote>

                    <blockquote class="col-1-3">
                        <p> “No matter where we put them, or the kind of audio we pumped through, <strong>they handled everything brilliantly</strong>.”  </p>
                        <img class="attribution" src="https://cdn.shopify.com/s/files/1/0921/3560/files/reviews_masterswitch_logo.jpg?12811552983982738480">
                    </blockquote>

                    <blockquote class="col-1-3">
                        <p> “The Elevations are just too good to use only as height channels. <strong>A 10 out of 10 from me</strong>.” </p>
                        <img class="attribution" src="{{ 'widescreenreviewlogo.png' | asset_url }}">
                    </blockquote>
                </div>
            </div>

            <div class="grid-2">
                <div class="quotes cf">
                    <blockquote class="col-1-3">
                        <p> “<strong>Excellent choice as Atmos height speakers</strong>. I perceived a greater sense of height and an enhanced sense of space.” </p>
                        <img class="attribution" src="https://cdn.shopify.com/s/files/1/0921/3560/files/reviewer_logo_avsforum.jpg?12811552983982738480">
                    </blockquote>

                    <blockquote class="col-1-3">
                        <p> “<strong>These speakers pack a punch</strong>, especially when setup for down-firing with Atmos or DTS:X.” </p>
                        <img class="attribution" src="{{ 'reviewer_levelone.jpg' | asset_url }}">
                    </blockquote>

                    <blockquote class="col-1-3">
                        <p> “<strong>Great option for Dolby Atmos</strong>, without the hassle of cutting into ceilings or walls.” </p>
                        <img class="attribution" src="https://cdn.shopify.com/s/files/1/0921/3560/files/reviewer_logo_lifewire.jpg?12811552983982738480">
                    </blockquote>
                </div>
            </div>
        </div>
    </section>


</div>
<script src="//datamart.github.io/Komito/komito.js"></script>
