<style>
  .instagramh2 {
    padding-top:10px;
    padding-bottom:5px;
    clear:both;
    float:none;
  }
  .instagramh2 fa {
    margin-right:8px;
  }
  h1 {
    padding-left:0px;
  }
  .collection-header h2 {
    font-size:45px !important
  }
  .gg-slash {
    text-decoration:line-through;
    color:red;
    font-size:22px !important;
    margin-right:5px
  }
  .gg-deal {
    font-size:22px !important;
  }
  .gg-title {
    color:#000;
    text-decoration:none;
    font-size:25px !important;
    font-weight:800;
  }
  .gg-image {
    max-width:250px !important;
  }
  .gg-p {
    margin-top:10px
  }
  .gg-titlelink {
    text-decoration:none !important;
  }
  #content {
    padding-top:0px !important;
  }
  .covet-pics-gallery {
    margin-top:2px
  }
  @media (max-width: 850px) {
    .gg-bottom {
      margin-top:15px;
    }
  }
  
</style>
{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}
<section class="full-column first-section">
	<div class="wrap gift-guide-intro">

		<p>
          The best gift ideas for music, movie, gaming and TV lovers this year? Turning mundane listening sessions into thrilling and immersive audio experiences. Basslines with feeling. Head-turning surround sound effects. Crisp and clear dialogue and vocals. Armrest-gripping sonic realism. <a href="/collections/all-products" class="a5">SVS speakers and subwoofers</a>.
		</p>
      <p>
        The gift of high performance audio gives back all year by bringing us closer to the artists, movies and shows we love daily. Self-gifting is encouraged (we won’t tell), and there's nothing wrong with sending the link as a subtle hint to your wife, husband, parents, Santa or any other loved ones.
      </p>
      <p>
        All SVS products are backed by the <a href="/pages/bill-of-rights" class="a5">SVS Customer Bill of Rights</a>, which includes Fast & Free Shipping and Returns, a 45 Day Risk-Free In-Home Trial, 5-Year Unconditional Warranty, 1-Year Trade-up Policy, Lifetime SVS Sound Experts Tech Support and more.
      </p>
	</div>
</section>

<section class="full-column bg-lb" class="gg" style="background:#fff">
	<div class="wrap acc-wrap" style="padding-top:0px">
		<h5 class="heading-with-underline"> End 2017 with a Boom – Best Deal Ever on Acclaimed SVS Subwoofer! </h5>
		<p class="text-fix-acc-gg">
			SVS caliber subwoofer performance hits an all-time low price for an extremely limited time. The SB12-NSD features a high excursion 12-inch driver and commanding 400 watts RMS, 800 watts peak power amplifier, and for a limited time, it’s available at nearly half the original price!
		</p>
		<div>
			<div>
				
				<a href="/products/sb12-nsd" class="img-a-wrap" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - SB12-NSD Image Link');" style="position:relative">
					<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/gift-guide-sb12-nsd.jpg?69669520785890440" class="gg-image">
				</a>
              <a href="/products/sb12-nsd" class="gg-titlelink" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - SB12-NSD Title Link');">
              <h6 data-match-height="sp-h" class="gg-title"> SB12-NSD </h6>
              </a>
              <span class="gg-slash">$680.00</span> <span class="gg-deal">$399.99</span>
				<p data-match-height="sp-p" class="gg-p">
					If you’re looking for an absolute steal of a subwoofer deal this year, the over-achieving SB12-NSD sealed subwoofer is a well-balanced powerhouse that blends with any speakers and is powerful enough to energize a room with deep and effortless bass, yet compact enough to complement any décor.
				</p>
				<a href="/products/sb12-nsd" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - GET SB12-NSD DEAL Link');" class="learn-more">GET SB12-NSD DEAL</a>
			</div>
		</div>

	</div>
</section>

<section class="two-up">
	<div class="wrap">
		<div class="column">
			<h5 class="two-up__subheading"> Mega Versatile Home Theater Speaker </h5>
			<p>
              The <a href="" class="boldlink">Prime Elevation</a> is the perfect solution for those who are expanding into the realm of immersive overhead height effects and want the best speaker for Dolby Atmos®, DTS:X® or Auro:3D®. A patent-pending Multi-Angle Wall Bracket makes it easy to mount on a wall or ceiling so the Prime Elevation can also be used as an LCR, side surround, rear surround or any other home theater speaker to solve nearly any placement issue. 
			</p>
			<p class="sp-price"> From $199.99 each</p>
			<a href="/products/prime-elevation" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - Prime Elevation Learn More Link');">Shop Now</a>
		</div>

		<div class="column">
			<a href="/products/prime-elevation" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - Prime Elevation Learn More Link');">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/holiday_prime_elevation_3.jpg?16656954247890361643" alt="" class="">
			</a>
          <h2 class="instagramh2"> <i class="fa fa-instagram"></i> @SVS_Sound </h2>
          <div class="covet-pics-gallery" data-id="24208"> </div> 
		</div>
		<div class="grid-2 quote-wrap">
			<div class="col-3-4">
				<p class="quote-left">
					"The Elevations are just too good to use only as height channels… Highly recommended…A 10 out of 10 from me on this one."
				</p>
			</div>
			<div class="col-1-4">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/wsrorangefull.png?6806596199421669360" class="quote-logo-left">
			</div>
		</div>
	</div>
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/pages/subwoofers#2000-series" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - 2000 Series Image Link');">
				<img src="{{ 'sb2000-gift-guide.png' | asset_url }}" alt="" class="float-right">
			</a>
          <h2 class="instagramh2"> <i class="fa fa-instagram"></i> @SVS_Sound </h2>
          <div class="covet-pics-gallery" data-id="25055"> </div> 
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> Bringing the Boom as the Best Subwoofers Under $1,000  </h5>
			<p>
              Unmatched low frequency extension and power with revealing detail and articulation for less than a grand. With technology normally reserved for subwoofers costing many times more, the sealed box <strong>SB-2000</strong> and ported box <strong>PB-2000</strong> subwoofers defy all expectations and have emerged as the top-selling SVS powered subwoofers and the best sounding gift idea of 2017.
			</p>
			<p class="sp-price"> From $699.99</p>
			<a href="/pages/subwoofers#2000-series" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - 2000 Series Learn More Link');">Shop Now</a>
		</div>
		<div class="grid-2 quote-wrap">
			<div class="col-3-4">
				<p class="quote-left">
					“It can deliver the eyeball-crushing silliness of movie night without breaking sweat, while relishing the more laidback task of mid-week TV. The SVS 2000 Series are seriously talented subwoofers."
				</p>
			</div>
			<div class="col-1-4">
				<img src="{{ 'hcc.png' | asset_url }}" class="quote-logo-left">
			</div>
		</div>
	</div>
</section>

<section class="two-up">
	<div class="wrap">
		<div class="column">
			<h5 class="two-up__subheading"> Audiophile Sound Quality in Any Room </h5>
			<p>
              SVS <strong>Bookshelf Speakers</strong> bring every nuance and detail of music, movies and TV to life and offer the added flexibility of placement on bookshelves, desktops, speaker stands or other furniture. Incredible low-frequency extension, an expansive soundstage, pinpoint accuracy and stunning dynamics, the <strong>SVS Prime and Ultra bookshelf monitors</strong> are the 2017 best bookshelf speakers under $500 and $1,000 respectively.
			</p>
			<p class="sp-price">From: $249.99 each </p>
			<a href="/products/prime-bookshelf" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - Prime Bookshelf Shop Now Link');">Shop Now</a>
		</div>

		<div class="column">
			<a href="/products/prime-bookshelf" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - Prime Bookshelf Image Link');">
				<img src="{{ 'prime_bookshelf_PG_2.png' | asset_url }}" alt="" class="" style="max-height: 400px;">
			</a>
          <h2 class="instagramh2"> <i class="fa fa-instagram"></i> @SVS_Sound </h2>
          <div class="covet-pics-gallery" data-id="25174"> </div> 
		</div>
		<div class="grid-2 quote-wrap">
			<div class="col-1-4">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/Audioholics_logo_Pursuing_2014.png?6806596199421669360" class="quote-logo">
			</div>
			<div class="col-3-4">
				<p class="quote">
					“These are beautiful, capable speakers at a head turning price. Their performance stands toe to toe with much more expensive contenders."
				</p>
			</div>
		</div>
	</div>
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/products/prime-satellite-5-1" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - Prime 5.1 Image Link');">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/prime_sat_five_one_gloss.png?10362960654724058683" alt="" class="float-right">
			</a>
          <h2 class="instagramh2"> <i class="fa fa-instagram"></i> @SVS_Sound </h2>
          <div class="covet-pics-gallery" data-id="25175"> </div>
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> Immersive Surround Sound for the Price of a Soundbar </h5>
			<p>
              Five compact yet massive sounding <strong>Prime Satellite Speakers</strong> combine with a startlingly powerful <strong>SB-1000 Subwoofer</strong> in décor-friendly <strong>5.1 home theater surround sound system</strong> that punches way above its weight class and brings immersive audio experiences to any small to medium sized room. The best gift idea for an apartment home theater transformation.
			</p>
			<p class="sp-price"> From $999.99 </p>
			<a href="/products/prime-satellite-5-1" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - Prime 5.1 Shop Now Link');">Shop Now</a>
		</div>
		<div class="grid-2 quote-wrap">
			<div class="col-3-4">
				<p class="quote-left">
					“The best satellite speaker surround sound system I know for under $1,000. Congratulations, SVS. The old king is dead, long live the new king."
				</p>
			</div>
			<div class="col-1-4">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/htr.png?6806596199421669360" class="quote-logo-left">
			</div>
		</div>
	</div>
</section>

<section class="full-column bg-lb">
	<div class="wrap acc-wrap">
		<h5 class="heading-with-underline"> SVS SoundPath Stocking Stuffer Audio Accessories - Affordable Audiophile Gift Ideas </h5>
		<p class="text-fix-acc-gg">
			<strong>SVS SoundPath Audio Accessories</strong> bridge the gap between over-priced “snake oil” and cheaply made, point A to point B accessories that sacrifice sound quality.
		</p>
		<div class="grid-2">
			<div class="col-1-3">
				<h6 data-match-height="sp-h"> SoundPath Subwoofer Isolation System </h6>
				<a href="/products/soundpath-subwoofer-isolation-system" class="img-a-wrap" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - SoundPath Audio Accessories Link');" data-match-height="ac-a">
					<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/iso-giftguide.png?7285193906570629156">
				</a>
				<p class="caption" data-match-height="sp-p">
					Tighter and cleaner bass with no room rattle and less bass bleed to the rest of the house. You can play louder and cause less disturbance. A no-brainer subwoofer upgrade.
				</p>
				<a href="/products/soundpath-subwoofer-isolation-system" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - SoundPath Audio Accessories Link');" class="learn-more">Learn More</a>
			</div>
			<div class="col-1-3">
				<h6 data-match-height="sp-h"> SoundPath RCA Interconnect Cable </h6>
				<a href="/products/soundpath-rca-audio-interconnect-cable" class="img-a-wrap" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - SoundPath Audio Accessories Link');" data-match-height="ac-a">
					<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/Artboard_1_copy.jpg?16031381853212454492" data-match-height="ac-img">
				</a>
				<p class="caption" data-match-height="sp-p">
					Pristine signal purity and total noise rejection under all conditions so a system can reach its peak performance potential.
				</p>
				<a href="/products/soundpath-rca-audio-interconnect-cable" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - SoundPath Audio Accessories Link');" class="learn-more">Learn More</a>
			</div>
			<div class="col-1-3" >
				<h6 data-match-height="sp-h"> SoundPath Ultra Speaker Cable </h6>
				<a href="/products/soundpath-ultra-speaker-cable" class="img-a-wrap" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - SoundPath Audio Accessories Link');" data-match-height="ac-a">
					<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/ultra-cable-bow.png?12922325823635315346" data-match-height="ac-img">
				</a>
				<p class="caption" data-match-height="sp-p">
					Built without compromise using the same materials and fabrication techniques as the finest speaker cables in the world. Available in custom lengths and hand terminated by our Ohio craftsman with your choice of bare wire, banana plugs or spade connectors.
				</p>
				<a href="/products/soundpath-ultra-speaker-cable" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - SoundPath Audio Accessories Link');" class="learn-more">Learn More</a>
			</div>
		</div>

	</div>
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/products/prime-tower" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - Go Dual Image Link');">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/prime_tower_giftguide.png?16668144861654214676" alt="" class="float-right">
			</a>
          <h2 class="instagramh2"> <i class="fa fa-instagram"></i> @SVS_Sound </h2>
          <div class="covet-pics-gallery" data-id="25178"> </div> 
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> Audiophile Tower Speakers for Discriminating Audio Fans </h5>
			<p>
              The <strong>Prime Tower speakers</strong> are the top rated and reviewed loudspeakers under $1,000 a pair and set the benchmark for reference sound quality at the price with pinpoint accuracy, flawless tonal balance and excellent low frequency extension. An amazing gift idea for home theater fans, the <strong>Prime Tower speakers</strong> easily outperform floorstanding speakers costing more than double the price.
			</p>
			<p class="sp-price"> From $499.99 each</p>
			<a href="/products/prime-tower" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - Go Dual Shop Now Link');">Shop Now</a>
		</div>
		<div class="grid-2 quote-wrap">
			<div class="col-3-4">
				<p class="quote-left">
					“They are more detailed and more "hi-fi" than anything we've heard at this price before.”
				</p>
			</div>
			<div class="col-1-4">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/cnet-logo.png?6806596199421669360" class="quote-logo-left cnet-logo">
			</div>
		</div>
	</div>
</section>

<section class="two-up">
	<div class="wrap">
		<div class="column">
			<h5 class="two-up__subheading"> The Ultimate Bass Experience, SVS 16-Ultra Subwoofers </h5>
			<p>
              Names top subwoofers in the world for 2017 by nearly every audio publication and industry group, the <strong>SVS 16-Ultra Subwoofers</strong> are a tour-de-force of audio engineering with game-changing innovations resulting in the most extreme bass experience ever. Music and home theater fans will shake with delight at the site of a <strong>16-Ultra Subwoofer</strong> this holiday season.
			</p>
			<p class="sp-price"> From $1,999.99 </p>
			<a href="/pages/16-ultra-series" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - 16-Ultra Shop Now Link');"> Shop Now </a>
		</div>

		<div class="column">
			<a href="/pages/16-ultra-series" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - 16-Ultra Image Link');">
				<img src="{{ '16u-giftguide-2.png' | asset_url }}" alt="" class="">
			</a>
          <h2 class="instagramh2"> <i class="fa fa-instagram"></i> @SVS_Sound </h2>
          <div class="covet-pics-gallery" data-id="25357"> </div> 
		</div>

		<div class="grid-2 quote-wrap">
			<div class="col-1-4">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/htr.png?6806596199421669360" class="quote-logo">
			</div>
			<div class="col-3-4">
				<p class="quote">
					“I've heard almost all of the top subwoofers currently on the market. The SB16-Ultra sounds like none of them. It's in a whole different category of low-frequency sound. May well be the best subwoofer ever made.”
				</p>
			</div>
		</div>
	</div>
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/products/ultra-tower-surround-package" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - Ultra Tower 5.0 Package Image Link');">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/ultra-tower-system-giftguide_af237470-2e93-4e91-b199-60b5e8f2e079.png?5533201371763577838" alt="" class="ult-tower-system-gg float-right">
			</a>
          <h2 class="instagramh2"> <i class="fa fa-instagram"></i> @SVS_Sound </h2>
          <div class="covet-pics-gallery" data-id="25360"> </div> 
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> The Ultimate Home Theater Surround Sound Experience </h5>
			<p>
              A great audio gift idea for someone who's been on the nice list all year, the <strong>Ultra Tower 5.0 speaker package</strong> delivers a deeply immersive and impactful surround sound experience that puts the local movie theater and concert venues to shame. For a loved one who deserves the best, the <strong>Ultra Series Speakers</strong> deliver a memorable experience with every listen.
			</p>
			<p class="sp-price"> $3,699.99 </p>
			<a href="/products/ultra-tower-surround-package" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - Ultra Tower 5.0 Package Shop Now Link');">Shop Now</a>
		</div>
		<div class="grid-2 quote-wrap">
			<div class="col-1-4">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/SnV-logo-vector.png?6806596199421669360" class="quote-logo">
			</div>
			<div class="col-3-4">
				<p class="quote">
					“Dynamics of a custom theater system, neutrality and ambience of an audiophile system. Certified and Recommended!”
				</p>
			</div>
		</div>
	</div>
</section>

<section class="two-up">
	<div class="wrap">
		<div class="column">
			<h5 class="two-up__subheading"> Go Dual to Enhance Subwoofer Performance and Savings </h5>
			<p>
              Considering a double subwoofer assault to eliminate nulls, smooth out the frequency response in a larger listening area and to unleash effortless, room energizing bass? Go Dual with our <strong>1000</strong>, <strong>2000</strong> or <strong>Ultra Series subwoofers</strong> and maximize low frequency performance in any set-up.
			</p>
			<p class="sp-price"> From $949.99 </p>
			<a href="/collections/dual-subwoofers" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - Prime Tower Surround System Shop Now Link');">Shop Now</a>
		</div>

		<div class="column">
			<a href="/collections/dual-subwoofers" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - Prime Tower Surround System Image Link');">
				<img src="{{ 'holiday_sb-2000-dual.jpg' | asset_url }}" alt="" class="">
			</a>
          <h2 class="instagramh2"> <i class="fa fa-instagram"></i> @SVS_Sound </h2>
          <div class="covet-pics-gallery" data-id="25417"> </div> 
		</div>
	</div>
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/products/gift-card" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - SB13-Ultra Image Link');">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/gift_cert2.png?7447462853342173849" alt="" class="float-right">
			</a>
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> Take the Easy Route, Give an SVS Gift Card </h5>
			<p>
				<strong>SVS gift cards</strong> are available in any denomination and ship the same day you order them. Take the pressure off yourself with a gift that provides the ultimate freedom of choice, an SVS Gift Card.
			</p>
          <p>Our Sound Experts are standing by 7 days a week to consult with you on any audio or home theater related questions. Reach them at custservice@svsound.com, 877.626.5623 or via chat, Monday-Friday 9AM-9PM Eastern, Saturday 12PM-6PM, and Sunday 12PM-4PM. </p>
			<a href="/products/gift-card" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', '2016 Gift Guide - SB13-Ultra Shop Now Link');">Shop Now</a>
		</div>

		<p>
			<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/soundexperts.png?7554356021183871259" class="sound-experts-logo-top">
			<strong>SVS Sound Experts Live Support</strong><br>
          If you have questions about choosing the best speakers, subwoofer or home theater system, try the <a href="/pages/customer-service" class="a5">SVS Sound Experts</a>. Our Ohio-based team is patient, knowledgeable and available for live help 7-days-a-week: Monday-Friday 9am-9pm ET, Saturday 12pm-6pm ET, and Sunday 12pm-4pm ET.
		</p>
      <p>
        <a href="tel:+8776265623" class="a5" style="margin-right:30px">877.626.5623</a>   <a href="#" class="a5" onclick="OpenLHNChat(); return false" style="margin-right:30px">Chat</a>    <a href="/pages/customer-service" class="a5">custservice@svsound.com</a>.  
      </p>

	</div>
</section>
