

<div class="elevation-landing-wrap">
    <section class="">
        <div class="wrap">
            <div class="intro">
                <!-- <img src="{{ 'prime_elevation_header.jpg' | asset_url }}" class="elevation-header-img"> -->
                <img src="{{ 'prime_elevation_white_header.jpg' | asset_url }}" class="elevation-header-img">

                <h1> SVS Prime Elevation. </h1>
                <h2> The World’s Most Versatile Home Theater Speaker.  </h2>
                <p>
                    The Prime Elevation is the perfect speaker if you desire the most immersive height effects experience possible, or an easy-to-install high performance home theater speaker that solves a multitude of room placement issues.
                </p>
            </div>

            <div class="cf mod-wrap">
                <div class="module-3-1">
                    <div class="image"> </div>
                    <div class="text" data-match-height="group-name3-1">
                        <p> Ultimate Height Effects Speaker for Sonic Immersion and Dynamic Impact. </p>
                    </div>
                </div>

                <div class="module-3-2">
                    <div class="image"> </div>
                    <div class="text" data-match-height="group-name3-1">
                        <p> Perfect Solution for Countless Speaker Placement Issues with Easy One-Step On Wall Installation. </p>
                    </div>
                </div>
                <!--
                <div class="module-3-3">
                    <div class="image"> </div>
                    <div class="text" data-match-height="group-name3-1">
                        <p> Unparalleled Versatility as High Performance Home Theater Speaker. </p>
                    </div>
                </div>
                -->
            </div>

            <div class="cta-wrap cf" id="anchor1">
                <p> Learn more about Prime Elevation.  Starting at $199.99 each </p>
                <a href="/products/prime-elevation" class="cta-lm" onclick="ga('send', 'event', 'Elevation Category Page', 'Click', 'Learn More - Prime Elevation 1');"> Learn More </a>

                <form method="post" name="addtocart" action="/cart/add">
                    <input type="hidden" name="id" value="26537027974" />
                    <a href="#" class="cta-bn" onclick="$(this).closest('form').submit(); ga('send', 'event', 'Elevation Category Page', 'Click', 'Buy Now - Prime Elevation 1'); return false; "> Add to Cart </a>
                </form>
            </div>

            <h3 class="pad-top-none"> What are Height Effects Speakers and Object Based Surround Sound? </h3>
            <p>
                Exciting new surround sound formats such as Dolby Atmos®*, DTS:X® and Auro 3D®, often referred to as “object based surround sound”, unleash the ultimate immersive home audio experience by incorporating sound effects emanating from overhead. Previously, surround sound only existed on a single plane, but Height Effects Speakers are introducing a higher dimension of home theater audio.
            </p>

            <h3> Direct Radiating vs. Ceiling Bounce Height Effect Speakers </h3>
            <p>
                The prevailing approach to height effects relies on a frequency response limited speaker beaming sound towards the ceiling from below in hopes that it will bounce perfectly back towards the listening area. Ceiling bounce results are unpredictable because
                of room shape, ceiling design and a number of other factors so it only works under perfect conditions.
            </p>
            <p>
                Prime Elevation is an optimal height effects speaker because it directly radiates full-range sound to the listener, refuting the compromised ceiling bounce approach. Our novel solution provides an uncompromised listening experience for anyone who wants
                to enjoy maximum sonic impact from their state-of-the-art home theater.
            </p>

            <div class="module-1 cf">
                <div class="image" data-match-height="group-name1"> </div>

                <div class="text" data-match-height="group-name1">
                    <h3> Direct Radiating for Maximum Immersion and Impact </h3>
                    <p>
                        The SVS Prime Elevation is a direct radiating height effects speaker with full range dynamics and the refinement of a high end bookshelf speaker. Mount it high on a wall near the ceiling using the simple Multi-Angle Wall Bracket (patent pending) and object based surround sound can be enjoyed at full fidelity in any room, without the compromises of ceiling bounce or in-ceiling speakers.
                    </p>
                </div>
            </div>

            <div class="module-2 cf">
                <div class="image" data-match-height="group-name1"> </div>

                <div class="text" data-match-height="group-name1">
                    <h3> Ceiling Bounce is Compromised and Unpredictable </h3>
                    <p>
                        The standard approach to height effects speakers, bouncing sound off the ceiling from below, requires perfect room conditions and frequency response limiting of the speaker, both of which negatively affect sound quality. Unfortunately, this method doesn’t
                        work well in many rooms, and even when it does work, not all listening positions enjoy the same level of impact or immersive effects as they do with a full-range, direct radiating solution like Prime Elevation.
                    </p>
                </div>
            </div>

            <div class="cta-wrap cf" id="anchor2">
                <p> Learn more about Prime Elevation.  Starting at $199.99 each </p>
                <a href="/products/prime-elevation" class="cta-lm" onclick="ga('send', 'event', 'Elevation Category Page', 'Click', 'Learn More - Prime Elevation 1');"> Learn More </a>

                <form method="post" name="addtocart" action="/cart/add">
                    <input type="hidden" name="id" value="26537027974" />
                    <a href="#" class="cta-bn" onclick="$(this).closest('form').submit(); ga('send', 'event', 'Elevation Category Page', 'Click', 'Buy Now - Prime Elevation 1'); return false; "> Add to Cart </a>
                </form>
            </div>

            <div class="module-3 cf">
                <div class="text">
                    <h3> One Speaker, So Many Placement Issues Solved </h3>
                    <p>
                        With its groundbreaking design, stunning acoustics and innovative mounting solution, Prime Elevation is the world’s most adaptable home theater speaker, creating immersive sound and convincing effects in rooms where perfect speaker placement is not possible or practical. Plus, it’s incredibly easy to install nearly anywhere with the innovative Multi-Angle Wall Bracket (patent pending).
                    </p>
                    <p>
                        The Prime Elevation’s optimized, angled front baffle and advanced engineering enable it to perform amazingly as a front, center channel, surround, back surround, and/or LCR speaker.
                    </p>
                </div>
				
                <div class="image">
                    <div class="thirds cf">
                    <a href="/products/prime-elevation" onclick="ga('send', 'event', 'Elevation Category Page', 'Click', 'Placement Issues Solved')" style="color:#202020 !important; text-decoration:none !important">
                        <div data-match-height="group-name2">
                            <img src="{{ 'elevation_down_firing.jpg' | asset_url }}">
                        </div>
                        </a>
                        <p>
                            Down-Firing Height Effects Speaker - Vast improvement over compromised “ceiling bounce” or in-ceiling speaker solutions.
                        </p>
                    </div>

                    <div class="thirds cf">
                    <a href="/products/prime-elevation" onclick="ga('send', 'event', 'Elevation Category Page', 'Click', 'Placement Issues Solved')" style="color:#202020 !important; text-decoration:none !important">
                        <div data-match-height="group-name2">
                            <img src="{{ 'elevation_up_firing.jpg' | asset_url }}">
                        </div>
                        </a>
                        <p>
                            Up or Down-Firing Front, LCR and/or Center Channel Speaker - Placed above or below the viewing area, directed at listener, when placement of center channel at ear level is not possible.
                        </p>
                    </div>

                    <div class="thirds cf">
                    <a href="/products/prime-elevation" onclick="ga('send', 'event', 'Elevation Category Page', 'Click', 'Placement Issues Solved')" style="color:#202020 !important; text-decoration:none !important">
                        <div data-match-height="group-name2">
                            <img src="{{ 'elevation_side.jpg' | asset_url }}">
                        </div>
                        </a>
                        <p>
                            Side or Rear-Firing Surround Speaker - Placed on side wall for rear effects or rear wall for side effects when optimal placement is not possible.
                        </p>
                    </div>
                </div>
            </div>

            <div class="module-5 cf" id="anchor3">
            <a href="/products/prime-elevation" onclick="ga('send', 'event', 'Elevation Category Page', 'Click', 'Mounting Bracket Section')" style="color:#fff !important;text-decoration:none!important">
                <div class="image" data-match-height="group-name1"> </div>
                </a>
                <div class="text" data-match-height="group-name1">
                    <h3> Easy, Innovative and Secure Mounting Bracket </h3>
                    <p>
                        Since the Prime Elevation will often be wall-mounted, our engineers specially designed the innovative Multi-Angle Wall Bracket (patent pending) so you can easily position and install the speaker in any of four directions: up or down-firing, and side or
                        rear-firing, to get the best performance possible. Even in the most challenging rooms, installation is a snap with the included template and mounting hardware.
                    </p>
                </div>
            </div>
            <div class="module-4-2 cf">
                <div class="text"> <h3> Going Higher with Design and Engineering – A Sonic Achievement </h3> </div>
                <a href="/products/prime-elevation" onclick="ga('send', 'event', 'Elevation Category Page', 'Click', 'Explode Image Desktop')"><img src="{{ 'exploded-view.jpg' | asset_url }}" class="desktop"></a>
                <a href="/products/prime-elevation" onclick="ga('send', 'event', 'Elevation Category Page', 'Click', 'Explode Image Mobile')"><img src="{{ 'exploded-view-mobile.jpg' | asset_url }}" class="mobile"></a>
            </div>
            <!--
            <div class="module-4 cf">
                <div class="image" data-match-height="group-name1"> </div>

                <div class="text" data-match-height="group-name1">
                    <h3> Going Higher with Design and Engineering – A Sonic Achievement </h3>
                    <ul class="default-list">
                        <li>
                            Angled front baffle creates superior direct-radiating height effects and enables unique versatility as a front, center, surround and more
                        </li>
                        <li>
                            Light, efficient and rigid 1” aluminum dome tweeter delivers genuine transparency, refinement, and detail
                        </li>
                        <li>
                            4.5” poly midrange/bass driver features excellent stiffness to mass ratio for pinpoint accuracy and forceful dynamics even at highest volumes
                        </li>
                        <li>
                            Sophisticated SoundMatch Crossover seamlessly blends output at all frequencies for impeccable balance and stunning accuracy
                        </li>
                        <li>
                            Acoustically inert, resonance-free cabinet enclosure with extra thick MDF walls and bracing for stunning dynamics and razor sharp detail
                        </li>
                        <li>
                            Innovative Multi-Angle Wall Bracket (patent pending) easily installs in minutes for secure mounting in any position
                        </li>
                    </ul>
                </div>
            </div>
            -->
            <div class="module-cross-sell cf">
                <h2> Check out our award-winning speaker lines. </h2>
                <div class="half">
                    <a href="/pages/speakers#primes-series" onclick="ga('send', 'event', 'Elevation Category Page', 'Click', 'Award Winning Speaker Lines - Prime Series');">
                        <h4> Prime Series </h4>
                        <img src="{{ 'prime-cross-sell.jpg' | asset_url }}">
                    </a>
                    <!--<p data-match-height="group-cross-p">
                        Truly immersive and high-end in every way, the SVS Prime Series borrow technology breakthroughs from the Ultra Series to set the benchmark for speaker performance value. The end result is world-class audio that’s more inclusive than ever before.
                    </p> -->
                    <a href="/pages/speakers#primes-series" class="cta-lm" onclick="ga('send', 'event', 'Elevation Category Page', 'Click', 'Award Winning Speaker Lines - Prime Series');"> Learn More about Prime Series Speakers</a>
                </div>

                <div class="half">
                    <a href="/pages/speakers#ultra-series" onclick="ga('send', 'event', 'Elevation Category Page', 'Click', 'Award Winning Speaker Lines - Ultra Series');">
                        <h4> Ultra Series </h4>
                        <img src="{{ 'ultra-cross-sell.jpg' | asset_url }}">
                    </a>
                    <!--<p data-match-height="group-cross-p">
                        Every design aspect of the SVS Ultra Series Speakers was scrutinized to achieve cost-no-object audio performance and build quality. Delivering a wide, detailed soundstage with incredible resolution, absolute transparency, and amazingly rich and articulated bass, the Ultra Series stands toe-to-toe with the finest speakers in the world.
                    </p>-->
                    <a href="/pages/speakers#ultra-series" class="cta-lm" onclick="ga('send', 'event', 'Elevation Category Page', 'Click', 'Award Winning Speaker Lines - Ultra Series');"> Learn More about Ultra Series Speakers </a>
                </div>
            </div>

            <!--<div class="cf mod-wrap">
                <div class="module-6 cf">
                    <div class="image" data-match-height="group-name1"> </div>

                    <div class="text" data-match-height="group-name1">
                        <h3> svs bill of rights </h3>
                        <p>
                            Choosing SVS means you also get our 45-day Risk-Free In-Home Trial, Fast & Free Shipping and Returns, a One-Year Trade-up Policy, 5-Year Unconditional Warranty and other valuable benefits included in our SVS Customer Bill of Rights.
                        </p>
                    </div>
                </div>

                <div class="module-7 cf">
                    <div class="image" data-match-height="group-name1"></div>

                    <div class="text" data-match-height="group-name1">
                        <h3> svs sound experts </h3>
                        <p>
                            Our Sound Experts provide technical support for your entire AV system and take the time to ask about room layout, AV components, listening preferences and other things that are important to making the perfect decisions.
                        </p>
                    </div>
                </div>
            </div> -->

            <div class="world-of-svs">
                <img src="">
                <p>
                    Get helpful advice from our Sound Experts blog, check out SVS Featured Owner Systems, learn about artists/producers who use SVS and check out our social sites in the always fresh <a href="/blogs/svs" onclick="ga('send', 'event', 'Elevation Category Page', 'Click', 'Sound Experts - World of SVS');">World of SVS</a> section of our site. Here’s some posts that may interest you:
                </p>
                <a href="#" onclick="ga('send', 'event', 'Elevation Category Page', 'Click', 'Sound Experts - What is a height effects speaker');"> What is a Height Effects Speaker? </a>
                <a href="/blogs/svs/75358787-intro-to-dolby-atmos" class="bp" onclick="ga('send', 'event', 'Elevation Category Page', 'Click', 'Sound Experts - Guide to dolby atmos');"> Guide to Dolby Atmos </a>
            </div>
            <p class="da"> * Does not imply Dolby Labs’ endorsement.</p>
        </div>
    </section>
</div>

