	<style>
      .updated-basic .wrap a {
        color:#fff;
      }
	@media screen and (max-width: 900px) and (min-width: 591px) {
.template-page-bill-of-rights .wrap .sidebar img {width:100%}
.template-page-bill-of-rights .sidebar {width:100%;clear:both;float:none}
.template-page-bill-of-rights .col-3-4 {width:100%}

}

      @media screen and (max-width: 590px) and (min-width: 440px) {
        .template-page-bor-2 .col-1-3:nth-child(2n+1) {
		clear: left;
		}
    .template-page-bill-of-rights .wrap .sidebar img {width:100%}
	.template-page-bill-of-rights .sidebar {width:100%;clear:both;float:none}
	.template-page-bill-of-rights .col-3-4 {width:100%}
	.template-page-bill-of-rights .col-3-4 .col-1-3:nth-child(3n+1) {clear:none}
	.template-page-bill-of-rights .col-1-3 {width:50%}

        
      }
	  
	  @media only screen and (max-width: 439px) {
		 .template-page-bill-of-rights .col-1-3 {width:100%; padding-right:0px !important} 
		 .template-page-bill-of-rights .col-3-4 .col-1-3:nth-child(3n+1) {clear:none}
		 .template-page-bill-of-rights .col-3-4 {width:100%;padding-right:0px !important}
		 .template-page-bill-of-rights .wrap .sidebar img {width:100%}
		 .template-page-bill-of-rights .sidebar {width:100%;clear:both;float:none}
         .template-page-bill-of-rights .grid-2 {text-align:center}
	  }
      .white {color:#fff}

	</style>
    {% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}

<section> 
	<div class="wrap padtopnone">
		<div class="grid-2">
			<h4> WE GUARANTEE YOU A GREAT EXPERIENCE WITH SVS </h4>
			<p class="intro">
				We understand the thought and consideration that goes into purchasing high performance audio equipment and it’s important to us that you have an amazing experience with SVS. To assure you that choosing SVS can be done with complete confidence, we stand behind our products with <strong>the industry’s best and most comprehensive policies and guarantees that make it easy, risk-free and fun to be a lifelong listener.</strong> The SVS Customer Bill of Rights is like a benefits package that starts long before and extends long after your audio gear arrives.
			</p>
			<div class="col-3-4">
				<div class="col-1-3 hideRU">
					<img src="{{ '45DayTrial---white.png' | asset_url }}">
					<h4> 45 Day Risk-Free In-Home Trial, Fast & Free Shipping and Returns </h4>
					<p> 
						Enjoy a full 45-day in-home audition with any item purchased from SVS. There is no better way to evaluate an audio product than connected to your gear and placed exactly where it will go in your living space. If you're unhappy for any reason, return it for a refund...no questions asked. We'll even pay for return shipping.
					</p>
				</div>
				<div class="col-1-3">
					<img src="{{ '5YRWarranty---white.png' | asset_url }}">
					<h4> 5-Year Unconditional Warranty </h4>
					<p> 
						SVS offers the industry's most comprehensive warranty on all our products. SVS warrants of all its products to be free from defects in the workmanship for 5 years from date of purchase.  
					</p>
				</div>
				<div class="col-1-3 hideRU">
					<img src="{{ 'PriceGuarantee.png' | asset_url }}">
					<h4> 60-Day Guaranteed Price Protection </h4>
					<p> If the price drops on a product you purchased within 60 days of your purchase, we will refund you the difference, no questions asked. </p>
				</div>

				<div class="col-1-3">
					<img src="{{ 'InformativeAdviceCounsel.png' | asset_url }}">
					<h4> Pre-Purchase SVS Sound Experts Advice and Support </h4>
					<p> 
						Our <a data-remodal-target="contact__modal"  onclick= "ga('send', 'event', 'Bill of Rights', 'Click', 'Prepurchase Link');">SVS Sound Experts</a> take the time to ask you about room layout, existing AV gear, listening preferences and other things that are important to making the perfect choice. They are experts on every brand of speaker and trained to give the best possible advice based on your individual needs and budget. They can be reached via phone (1.877.626.5623), email, or chat for fast, expert help.
					</p>
				</div>
				<div class="col-1-3 hideRU">
					<img src="{{ 'TradeUpPolicy.png' | asset_url }}">
					<h4> 1-Year Trade-Up Policy </h4>
					<p> You may trade in any product purchased from SVS within 1 year of your purchase, and receive full credit toward the purchase of a more expensive like product. We ask that the product be in like new condition with the original box and packaging. We ask our customers to pay any freight charges associated with the return and new purchase. </p>
				</div>
				<div class="col-1-3">
					<img src="{{ 'TotalAfterPurchaseSupport.png' | asset_url }}">
					<h4> Lifetime SVS Sound Experts Tech Support </h4>
					<p> 
						For as long as you own your product, our SVS Sound Experts are available to provide technical support for your entire AV system. It’s like having a professional audio and home theater specialist on call to help with set-up, troubleshooting, placement, and optimization needs for every component you own, regardless of brand.
					</p>
				</div> 
				<div class="col-1-3">
					<img src="{{ 'PerformanceGuarantee.png' | asset_url }}">
					<h4> 1-Year Performance Upgrade </h4>
					<p> If SVS improves the performance of a model you purchased, we will upgrade it to current standards at no charge within 1 year of your purchase. </p>
				</div>
				<div class="col-1-3">
					<img src="{{ 'direct-line.png' | asset_url }}">
					<h4> Direct Line to the President </h4>
					<p> 
						SVS wants you to be completely satisfied with your purchase. If you are not satisfied in every way, please contact our President, Gary Yacoubian, at <a href="mailto:gyacoubian@svsound.com" onclick= "ga('send', 'event', 'Bill of Rights', 'Click', 'Email Gary Link);">gyacoubian@svsound.com</a>, for a prompt, courteous resolution. Our goal is 100% of our customers, 100% satisfied, 100% of the time. 
					</p>
				</div> 
				<div class="col-1-3 hideRU">
					<img src="{{ 'defect.png' | asset_url }}">
					<h4> 90-Day Defective Replacement Guarantee </h4>
					<p> We will replace any product purchased from SVS that becomes defective within 90 days of purchase. </p>
				</div> 
				<div class="col-1-3">
					<img src="{{ 'no-lemon.png' | asset_url }}">
					<h4> 1-Year "No Lemon" Guarantee </h4>
					<p> 
						We replace any product purchased from SVS that requires repairs or parts replacement 3 times within the first year of ownership. If a replacement is not available, we offer full credit toward the purchase of a like product.
					</p>
				</div> 
				<div class="col-1-3">
					<img src="{{ 'promise.png' | asset_url }}">
					<h4> Our Product Promise </h4>
					<p> From the first engineering sketch to final voicing, we design our products to outperform more expensive competition and provide a world-class audio experience. That’s our promise to you. </p>
				</div> 
			</div>

			<div class="col-1-4 sidebar">
				<div class="sidebar-content-wrap">
					<div class="side-wrap">
						<a href="/pages/subwoofers" onclick= "ga('send', 'event', 'Bill of Rights', 'Click', 'Sidebar - Shop Subwoofers');">
							<img src="{{ 'bor-shop-now-sub.jpg' | asset_url }}">
							<span class="side-learn-more"> Shop Subwoofers </span>
						</a>
					</div>
					<div class="side-wrap">
						<a href="/pages/speakers" onclick= "ga('send', 'event', 'Bill of Rights', 'Click', 'Sidebar - Shop Speakers');">
							<img src="{{ 'bor-shop-now-speaker.jpg' | asset_url }}">
							<span class="side-learn-more"> Shop Speakers </span>
						</a>
					</div>
					<div class="side-wrap">
						<a href="/collections/accessories" onclick= "ga('send', 'event', 'Bill of Rights', 'Click', 'Sidebar - Shop Accessories');">
							<img src="{{ 'bor-shop-now-acc.jpg' | asset_url }}" class="last">
							<span class="side-learn-more"> Shop Accessories </span>
						</a>
					</div>
				</div>
				<div class="sidebar-content-wrap">
					<img src="{{ 'merlin-logo-footer.png' | asset_url }}" class="merlin-sidebar">
					<p> SVS has the perfect subwoofer for every speaker. Use our Merlin engine and find the exact match for your speakers, instantly! </p>
					<a href="/pages/merlin" class="learn-more" onclick= "ga('send', 'event', 'Bill of Rights', 'Click', 'Sidebar - Merlin');"> Find the Right Subwoofer </a>
				</div>
				<div class="sidebar-content-wrap">
					<h4> LOOKING FOR HELP? </h4>
					<p> Our SVS Sound Experts can help with selecting the perfect product, AV system setup, support and more. 877.626.5623 </p>
					<a data-remodal-target="contact__modal" class="learn-more" onclick= "ga('send', 'event', 'Bill of Rights', 'Click', 'Sidebar - Get Help Now');"> Get Help Now </a>
				</div>
			</div>



		</div>
	</div>
</section>