{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}

		<section class="full-column first-section">
			<div class="wrap">

				<h2 class="full-column__heading">Deep, Powerful, Accurate Bass. <span>Award-Winning Performance. Impressive Value.</span></h2>

				<img src="{{ 'subwoofers-1.jpg' | asset_url }}" alt="Expertise + Passion">
			
				<p>The subwoofer is not just another speaker: it is the cornerstone of your audio or home theater system, delivering the lowest frequencies to create cinematic thrills you can hear and feel, and emotional impact with every music note. Deep, accurate, powerful. SVS offers the very best subwoofers, with bass that will transform your listening experience.</p>

			</div>
		</section>

		<section class="three-up">
			<div class="wrap">
			
				<h2 class="three-up__heading">Choose the Subwoofer Design to Match Your Room</h2>

				<div class="column">
                  <a href="/collections/sealed-subwoofers" alt=""><img src="{{ 'subwoofers-2.png' | asset_url }}" ></a>
					<h4 class="three-up__heading">Sealed Box</h4>
					<p>SVS sealed subwoofers are lightning quick, robustly powerful and cleverly engineered for fine tuning so they work with your room to deliver a no-compromise listening experience.</p>
					<a href="/collections/sealed-subwoofers" class="learn-more">Shop Now</a>
				</div>
				<div class="column">
					<a href="/collections/ported-subwoofers" alt=""><img src="{{ 'subwoofers-3.png' | asset_url }}" ></a>
					<h4 class="three-up__heading">Ported Box</h4>
					<p>When you really want to step up your playback experience, our ported boxes are the big guns. Engineered to be clean and articulate, they also make beautiful music—something that lesser ported subwoofers can find challenging.</p>
					<a href="/collections/ported-subwoofers" class="learn-more">Shop Now</a>
				</div>
				<div class="column">
					<a href="/collections/cylinder-subwoofers" alt=""><img src="{{ 'subwoofers-4.png' | asset_url }}" ></a>
					<h4 class="three-up__heading">Ported Cylinder</h4>
					<p>If your floor space is at a minimum, but you still crave astonishingly clean, accurate, low frequency slam for your high end home audio or home theater system, this is your subwoofer.</p>
					<a href="/collections/cylinder-subwoofers" class="learn-more">Shop Now</a>
				</div>

			</div>
		</section>

		<section class="review-slider right">
			<div class="wrap">

				<h2 class="review-slider__heading">The Press Raves About SVS Subwoofers</h2>

				<div class="slider">
					<div class="review-slide">
						<img src="{{ 'avsforum.PNG' | asset_url }}" alt="">
						<div class="review-slide__copy">
							<p class="review">“The PB-1000 produces the kind of forceful, yet detailed bass that we would expect from more powerful and certainly more expensive subwoofers… If SVS's goal was to create a subwoofer that could deliver deep bass at a price that doesn't require deep pockets, then they have succeeded beyond all hope.”</p>
							<p class="review-attribution">AVForums, Review by Stephen Withers, 3/28/2013.</p>
							<a href="https://www.avforums.com/review/svs-pb-1000-subwoofer-review.480">Read Review</a>
						</div>
					</div>
					<div class="review-slide">
						<img src="{{ 'audioholics.png' | asset_url }}" alt="">
						<div class="review-slide__copy">
							<p class="review">“Let's recap. Great price, check. Great performance, check. Great customer service, check. Three checks and the PB-1000 breezes into a winning spot in our 2013 Consumer Excellence Award competition.”</p>
							<p class="review-attribution">Audioholics, 2013 Consumer Excellence Award, 7/3/2013.</p>
							<a href="http://www.audioholics.com/buying-guides/product-awards-and-gift-guides/2013-consumer-excellence-winners">Read Review</a>
						</div>
					</div>
				</div>

				<div class="awards-row">
					<img src="{{ 'reviews_CES_logo.png' | asset_url }}" alt="">
					<img src="{{ 'reviews_av-forums-recommended_logo.png' | asset_url }}" alt="">
					<img src="{{ 'reviews_digital-trends_logo.png' | asset_url }}" alt="">
					<img src="{{ 'reviews_home-theater_logo.jpg' | asset_url }}" alt="">         
					<img src="{{ 'reviews_bassaholic_logo.jpg' | asset_url }}" alt="">
					<img src="{{ 'reviews_secrets_logo.jpg' | asset_url }}" alt="">
					<img src="{{ 'reviews_home-cinema-choice_logo.jpg' | asset_url }}" alt="">
					<img src="{{ 'reviews_the-biggie_logo.jpg' | asset_url }}" alt="">                                                                                          
				</div>
				<a href="/blogs/press-reviews" class="see-all">See all reviews and awards</a>

			</div>
		</section>

		<section class="icon-grid">
			<div class="wrap">

				<h2 class="icon-grid__heading">Why Choose an SVS Subwoofer?</h2>
				
				<img class="icon-grid__image" src="{{ 'subwoofers-5.jpg' | asset_url }}" alt="">

				<div class="icon-content">
					<div class="icon-item">
						<i class="icon fa fa-area-chart fa-fw"></i>
						<div class="icon-copy">
							<h4>Astonishingly Deep Frequency Response</h4>
							<p>Ultra low bass that delivers immersive impact so powerful you can hear and even feel it.</p>
						</div>
					</div>
					<div class="icon-item">
						<i class="icon fa fa-bolt fa-fw"></i>
						<div class="icon-copy">
							<h4>Massive, Effortless Power</h4>
							<p>Capable of delivering concert or movie theater level volumes, with pinpoint speed and transient response.</p>
						</div>
					</div>
					<div class="icon-item">
						<i class="icon fa fa-circle-o fa-fw"></i>
						<div class="icon-copy">
							<h4>Accurate, Detailed Sound</h4>
							<p>Flat and balanced, delivering all of the frequencies the artist or director intended, and none that shouldn’t be there. Never boomy.</p>
						</div>
					</div>
					<div class="icon-item">
						<i class="icon fa fa-sitemap fa-fw"></i>
						<div class="icon-copy">
							<h4>Intelligent Integration</h4>
							<p>Advanced Digital Signal Processing for seamless blending with your full range or satellite speakers for a complexly convincing high end home theater experience.</p>
						</div>
					</div>
				</div>

			</div>
		</section>

		<section class="merlin-promo">
			<div class="wrap">

				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/merlin-sub-cat.png?5402741281327051476" alt="">

				<h3 class="merlin-promo__subheading">LET MERLIN FIND THE PERFECT SUBWOOFER FOR YOUR SPEAKERS!</h3>

				<p>SVS has the perfect subwoofer for every speaker. Use our Merlin engine and find the exact match for your speakers, instantly!</p>

				<a href="/pages/merlin" class="learn-more">Find Your Perfect Subwoofer Now</a>

			</div>
		</section>

		<section class="two-up">
			<div class="wrap">

				<h2 class="two-up__heading">Experience the SVS Difference</h2>

				<div class="column">
					<img src="{{ 'subwoofers-6.jpg' | asset_url }}" alt="">
					<h5 class="two-up__subheading">Exceptional performance, unmatched value.</h5>

					<p>As conventional audio brands focus less on performance and value, SVS has stood against the grain, developing products that truly stand out in a world dominated by mediocre subwoofers delivering disappointing and inaccurate bass. Bringing together the cutting-edge technologies, the finest components, and lifetime technical support, we deliver an audio experience no one matches at a price no one approaches.</p>
				</div>

				<div class="column">
					<img src="{{ 'subwoofers-8.jpg' | asset_url }}" alt="">
					<h5 class="two-up__subheading">Every SVS subwoofer is engineered to amaze.</h5>

					<p>When it comes to design, we are relentless in our pursuit to get the absolute best at every level of engineering, design, and build quality. The result: deep, powerful, clean sound that maximizes your home theater or music experience and delivers performance that exceeds all expectations.</p>
				</div>
			
			</div>		
		</section>

	</div>