	<section class="basic__body">
		<div class="wrap">
			<h1><span>Your</span> SVS Bill of Rights</h1>
			<div class="bill-of-rights__header">
				<img src="" data-src="{{ 'bill-of-rights__header-icon.png' | asset_url }}" class="lazyload">
				<div class="bill-of-rights__text">
					<h3>We Promise You <span>a Great Experience with SVS</span></h3>
					<p>Buying online can feel like stepping into the great unknown - that's why we stand behind our products with policies that make it easy to try, safe to own, and great to be a customer.</p>
					<p>Look for these icons around our site telling you the finer details offered on each SVS product.</p>
				</div>
			</div>
			<div class="bill-of-rights__list">
				<ul>
					<li>
						<img src="" data-src="{{ 'bill-of-rights__icon-1.jpg' | asset_url }}" class="lazyload">
						<div class="bill-of-rights__text">
							<h4>45-Day In-Home Audition</h4>
							<p>Enjoy a full 45-day in-home audition with any item purchased from SVS. If you're unhappy for any reason, return it for a refund... no questions asked. We'll even cover return shipping for purchases within the contiguous US! We ask that the product be in new condition with original box and packing.</p>
						</div>
					</li>
					<li>
						<img src="" data-src="{{ 'bill-of-rights__icon-2.jpg' | asset_url }}" class="lazyload">
						<div class="bill-of-rights__text">
							<h4>90-Day Defective Exchange Guarantee</h4>
							<p>SVS will replace any product purchased from us that becomes defective within 90 days of purchase. If a replacement is not available, we will offer full credit toward the purchase of a like product.</p>
						<div>
					</li>
					<li>
						<img src="" data-src="{{ 'bill-of-rights__icon-3.jpg' | asset_url }}" class="lazyload">
						<div class="bill-of-rights__text">
							<h4>1-Year "No Lemon" Guarantee</h4>
							<p>SVS will replace any product purchased from us that becomes defective 3 times within the first year of ownership. If a replacement is not available, SVS will offer full credit toward the purchase of a like product.</p>
						</div>
					</li>
					<li>
						<img src="" data-src="{{ 'bill-of-rights__icon-4.jpg' | asset_url }}" class="lazyload">
						<div class="bill-of-rights__text">
							<h4>1-Year Performance Guarantee</h4>
							<p>If SVS improves the performance of a model you purchased, we will upgrade it to current standards at no charge within 1 year of your purchase.</p>
						</div>
					</li>
					<li>
						<img src="" data-src="{{ 'bill-of-rights__icon-5.jpg' | asset_url }}" class="lazyload">
						<div class="bill-of-rights__text">
							<h4>The Finest Quality in Every Price Range</h4>
							<p>You are assured of unsurpassed quality, value and performance at SVS, regardless of your price range. We have carefully designed our products to outperform every product in their price range. We are proud that many of our products outperform competing products two and three times the price.</p>
						</div>
					</li>
					<li>
						<img src="" data-src="{{ 'bill-of-rights__icon-6.jpg' | asset_url }}" class="lazyload">
						<div class="bill-of-rights__text">
							<h4>Total After-Purchase Support</h4>
							<p>SVS wants you to be completely satisfied with your purchase. If you are not satisfied in every way. please contact our corporate offices toll free at 1.877.626.5623 or email our Company President, Gary Yacoubian, at <a href="mailto:gyacoubian@svsound.com">gyacoubian@svsound.com</a> for a prompt, courteous resolution of your concerns. Our goal is 100% of our customers, 100% satisfied, 100% of the time.</p>
						</div>
					</li>
					<li>
						<img src="" data-src="{{ 'bill-of-rights__icon-7.jpg' | asset_url }}" class="lazyload">
						<div class="bill-of-rights__text">
							<h4>60-Day Guaranteed Prices</h4>
							<p>If SVS reduces the price on any of our products, we will refund the price difference to you if it goes below your purchase price within 60 days of your purchase.</p>
						</div>
					</li>
					<li>
						<img src="" data-src="{{ 'bill-of-rights__icon-8.jpg' | asset_url }}" class="lazyload">
						<div class="bill-of-rights__text">
							<h4>Free Shipping on Everything</h4>
							<p>Any product purchased from SVS in the contiguous US will be shipped to you free of charge.</p>
						</div>
					</li>
					<li>
						<img src="" data-src="{{ 'bill-of-rights__icon-9.jpg' | asset_url }}" class="lazyload">
						<div class="bill-of-rights__text">
							<h4>1-Year Trade-Up Policy</h4>
							<p>You may trade in any product purchased from SVS within 1 year of your purchase, and receive full credit toward the purchase of a more expensive like product. We ask that the product be in like new condition with the original box and packaging. We ask our customers to pay any freight charges associated with the return and new purchase.</p>
						</div>
					</li>
					<li>
						<img src="" data-src="{{ 'bill-of-rights__icon-10.jpg' | asset_url }}" class="lazyload">
						<div class="bill-of-rights__text">
							<h4>5-Year Unconditional Warranty</h4>
							<p>SVS offers the industry's most comprehensive warranty on all our products. SVS warrants of all its products to be free from defects in the workmanship for 5 years from date of purchase. SVS will even cover shipping costs both ways on the defective part!</p>
						</div>
					</li>
					<li>
						<img src="" data-src="{{ 'bill-of-rights__icon-11.jpg' | asset_url }}" class="lazyload">
						<div class="bill-of-rights__text">
							<h4>Informative Pre-Purchase Advice and Counsel</h4>
							<p>We offer live phone support weekdays from 9am-9pm, Saturday from 12pm-6pm, and Sunday from 12pm-4pm Eastern time toll-free at 1.877.626.5623.
							<br/>You can also <a href="#" onclick="OpenLHNChat();return false;">chat with us live</a>, or just email us at <a href="mailto:custservice@svsound.com">custservice@svsound.com</a> and we'll answer within minutes.
							<br/>Our <a href="{{ shop.url }}/pages/merlin">Merlin</a> speaker matching tool selects the perfect subwoofer for your speakers, and gives you the exact subwoofer settings for easy setup.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>