<style>

	.fd-2k {
		max-height: 350px;
	}
	.prime-tower-system-gg {
		max-height: 400px;
	}
	h5 {
		line-height: 1.1;
		font-weight: 800;
		margin: 18px 0 15px;
		font-size: 24px;
		text-transform: uppercase;
		border-bottom: 3px solid black;
		padding-bottom: 0;
		margin: 0 0 13px 0;
		letter-spacing: -.5px;
	}
	.img-a-wrap {
		display: block;
	}
	.acc-wrap .learn-more {
		margin: 10px auto 20px auto;
		display: block;
	}
	.soundpath-main p.caption {
		color: black;
		text-align: left;
	}
	.landing-page #content .full-column .acc-wrap img {
		max-width: 90%;
		margin: 0 auto;
		display: block;
		/*position: relative;
		  top: 50%;
		  transform: translateY(-50%);*/
	}
	.soundpath-main #content section.two-up {
		background: #eaf3ff;
	}
	.bg-lb {
		background: #eaf3ff!important;
	}
	/*@media only screen and (max-width: 700px) {
		.landing-page #content .full-column .acc-wrap {
			padding: 50px;
		}
	}*/
	.landing-page #content .full-column .acc-wrap {
		padding: 50px;
	}
	.soundpath-main #content .two-up .column img.el-img {
		max-width: 500px;
	}
</style>

<section class="full-column first-section">
	<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/fathers-day-gift-guide-header2.jpg?14643506189487155059" class="holiday-header-2016">
	<div class="wrap gift-guide-intro">
		<div class="addthis_sharing_toolbox"></div>
		<p>
			New SVS speakers or a subwoofer are a gift Dad will use nearly every day and might even share with his generous kids. If you’re being asked what you want for Father’s Day or shopping for the patriarch of your family, we’ve made it easy to find the best possible gift to make any Dad feel like a king all year round by giving him the most thumping home theater or stereo system on the block.
		</p>
		<p>
			If you’re the Dad, get your request in ASAP to have it arrive before June 18 so the whole family can enjoy!
		</p>
	</div>
</section>

<section class="two-up">
	<div class="wrap">
		<div class="column">
			<h5 class="two-up__subheading"> The Renaissance Dad – SVS Prime Elevation  </h5>
			<p>
				The Prime Elevation is the world’s most versatile high performance home theater speaker and a perfect solution for Dads who want the best height effects speaker for Dolby Atmos®, DTS:X® and Auro:3D®, or an easy-to-install front, center, LCR, and/or surround sound home theater speaker that solves a variety of room placement issues. Prime Elevation can be mounted to the ceiling, wall or placed anywhereand the patent-pending Multi-Angle Wall Bracket makes it a snap to install.
			</p>
			<p class="sp-price"> $199.99 each</p>
			<a href="/products/prime-elevation" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - Prime Elevation Learn More Link');">Shop Now</a>
		</div>

		<div class="column">
			<a href="/products/prime-elevation" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - Prime Elevation Learn More Link');">
				<img src="{{ '17-fd-gg.png' | asset_url }}" alt="" class="el-img">
			</a>
		</div>
		<div class="grid-2 quote-wrap">
			<div class="col-3-4">
				<p class="quote-left">
					"The Elevations are just too good to use only as height channels… Highly recommended… A 10 out of 10 from me on this one."
				</p>
			</div>
			<div class="col-1-4">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/wsrorangefull.png?6806596199421669360" class="quote-logo-left">
			</div>
		</div>
	</div>
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/products/prime-satellite-5-1" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - Prime 5.1 Image Link');">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/prime_sat_five_one_gloss.png?10362960654724058683" alt="" class="float-right">
			</a>
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> Compact Home Theater Dynamite for Dad’s Den - Prime Satellite 5.1 Speaker System </h5>
			<p>
				Five massive sounding Prime Satellite Speakers and a startlingly powerful SB-1000 Subwoofer punch way above their weight class in a décor friendly surround sound system that brings immersive audio to any small to medium sized mancave. HomeTheaterReview explains why Dad will feel like royalty with this speaker package: “An astonishing amount of sound quality in a very small speaker cabinet. The SVS Prime Satellite 5.1 home theater system is the best satellite speaker surround sound system under $1,000. Congratulations, SVS. The old king is dead, long live the new king.”
			</p>
			<p class="sp-price"> $999.99 </p>
			<a href="/products/prime-satellite-5-1" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - Prime 5.1 Shop Now Link');">Shop Now</a>
		</div>
		<div class="grid-2 quote-wrap">
			<div class="col-1-4">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/htr.png?6806596199421669360" class="quote-logo">
			</div>
			<div class="col-3-4">
				<p class="quote">
					“The best satellite speaker surround sound system I know for under $1,000. Congratulations, SVS. The old king is dead, long live the new king."
				</p>
			</div>
		</div>
	</div>
</section>

<section class="two-up">
	<div class="wrap">
		<div class="column">
			<h5 class="two-up__subheading"> The Dad with Discerning Tastes – SVS Ultra Bookshelf Speakers  </h5>
			<p>
				A sonic achievement that stands up to the best loudspeakers in the world, the SVS Ultra Bookshelf speakers give Dad a high end listening experience with incredible dynamics, detail and low-frequency extension while refuting the notion that high end audio has to break the bank...
			</p>
			<p class="sp-price"> $499.99 each </p>
			<a href="/products/ultra-bookshelf" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - Prime Bookshelf Shop Now Link');">Shop Now</a>
		</div>

		<div class="column">
			<a href="/products/ultra-bookshelf" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - Prime Bookshelf Image Link');">
				<img src="{{ 'Ultra_BS_pair.png' | asset_url }}" alt="" class="" style="max-height: 350px;">
			</a>
		</div>
		<div class="grid-2 quote-wrap">
			<div class="col-3-4">
				<p class="quote-left">
					“Superb clarity, classy looks, a wide soundstage and an unbelievable low end. The SVS Ultra is the Best Bookshelf speaker under $1,000.”
				</p>
			</div>
			<div class="col-1-4">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/the-master-switch.png?12075491058983004610" class="quote-logo-left">
			</div>
		</div>
	</div>
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/pages/subwoofers#2000-series" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - 2000 Series Image Link');">
				<img src="{{ 'sb2000-gift-guide.png' | asset_url }}" alt="" class="float-right fd-2k">
			</a>
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> The Popular Dad – SVS 2000 Series Subwoofers </h5>
			<p>
				Our top-selling line of subwoofers and Sound & Vision Magazine “Top Picks”, the SB-2000 and PB-2000 Subwoofers lay the foundation for any great audio system by unleashing deep, accurate and effortlessly powerful bass. Treat Dad to music, movie soundtracks and audio he can feel with a truly world-class subwoofer at an amazing value.
			</p>
			<p class="sp-price"> $699.99</p>
			<a href="/pages/subwoofers#2000-series" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - 2000 Series Learn More Link');">Shop Now</a>
		</div>
		<div class="grid-2 quote-wrap">
			<div class="col-1-4">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/SnV-logo-vector_b97fe811-11e8-484f-9004-0f6850f44093.png?16248398324842256905" class="quote-logo">
			</div>
			<div class="col-3-4">
				<p class="quote">
				“You’ll be hard-pressed to find a better bass value than what either of these subwoofers offers...each sub reproduced deeper bass response that I could literally feel in my sternum; it shook the house!”
				</p>
			</div>
		</div>
	</div>
</section>

<section class="two-up">
	<div class="wrap">
		<div class="column">
			<h5 class="two-up__subheading"> Game-Changing Home Theater Experience for Dad’s Den - Prime Tower 5.0 Speaker Package </h5>
			<p>
				A system that will make Dad the envy of the block for years to come, the SVS Prime Tower Speaker package delivers a deeply immersive and high-impact surround sound experience that puts the local movie theater and concert venue to shame. Dad deserves the best and the Prime Speakers deliver an unforgettable experience with every listen. (Ask about our special pricing on SVS Subwoofers when you order this package.)
			</p>
			<p class="sp-price">$1,549.99 </p>
			<a href="/products/prime-tower-surround-system" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - Prime Tower 5.0 Speaker Package Shop Now Link');">Shop Now</a>
		</div>

		<div class="column">
			<a href="/products/prime-tower-surround-system" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - Prime Tower 5.0 Speaker Package Image Link');">
				<img src="{{ 'prime-tower-system.png' | asset_url }}" alt="" class="prime-tower-system-gg">
			</a>
		</div>
		<div class="grid-2 quote-wrap">
			<div class="col-3-4">
				<p class="quote-left">
					“Outstanding imaging and an unwillingness to compromise either punch or clarity, the SVS Prime System also subtly seduces listeners to keep turning up the volume, with each notch on the dial even sweeter than the last. Far and away the best performing, and looking system at this price point, and even twice the amount. Well done SVS!”
				</p>
			</div>
			<div class="col-1-4">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/logo.png?5155978185383533878" class="quote-logo-left">
			</div>
		</div>
	</div>
</section>

<section class="two-up white-bg">
	<div class="wrap">
		<div class="column">
			<a href="/pages/subwoofers#16-ultra" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - 16-Ultra Series Image Link');">
				<img src="{{ '16u-giftguide-2.png' | asset_url }}" alt="" class="float-right">
			</a>
		</div>

		<div class="column">
			<h5 class="two-up__subheading"> Father of the Year - SVS 16-Ultra Subwoofers </h5>
			<p>
				Winner of countless awards and recipient of gushing praise from reviewers around the world, the SVS 16-Ultra Subwoofers are a juggernaut of audio engineering with game-changing innovations that deliver the deepest and most powerful bass experience in existence. Music and home theater loving Dads will shake with delight at the site of a 16-Ultra Subwoofer on Father’s Day.
			</p>
			<p class="sp-price"> $1,999.99</p>
			<a href="/pages/subwoofers#16-ultra" class="learn-more" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - 16-Ultra Series Learn More Link');">Shop Now</a>
		</div>
		<div class="grid-2 quote-wrap">
			<div class="col-1-4">
				<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/htr.png?6806596199421669360" class="quote-logo">
			</div>
			<div class="col-3-4">
				<p class="quote">
					“I've heard almost all of the top subwoofers currently on the market. The SB16-Ultra sounds like none of them. It's almost in a whole different category of low-frequency sound. May well be the best subwoofer ever made.”
				</p>
			</div>
		</div>
	</div>
</section>


<section class="full-column bg-lb">
	<div class="wrap acc-wrap">
		<!--<h5 class="heading-with-underline"> SVS SoundPath Stocking Stuffer Audio Accessories </h5>
		<p class="text-fix-acc-gg">
			<strong>SVS SoundPath Audio Accessories</strong> bridge the gap between exorbitantly priced “snake oil” solutions and cheaply made, point A to point B accessories that sacrifice performance for price.
		</p>-->
		<div class="grid-2">
			<div class="col-1-3" data-match-height="sp-col">
				<h5 data-match-height="sp-h"> Better Bass, Better Neighbor – SVS SoundPath Subwoofer Isolation System </h5>
				<a href="/products/soundpath-subwoofer-isolation-system" class="img-a-wrap" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - SoundPath Audio Accessories Link');" data-match-height="ac-a">
					<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/iso-giftguide.png?7285193906570629156">
				</a>
				<p class="caption" data-match-height="sp-p">
					Dads who already enjoy the benefits of a subwoofer will love the benefits of the SVS Soundpath Subwoofer Isolation System. The special elastomer feet decouple subwoofers from the floor to eliminate room rattle and provide cleaner, tighter and more palpable bass, all while reducing the vibrations neighbors and family feel in their walls and ceilings.
					<span class="sp-price"> $49.99 </span>
				</p>
				<a href="/products/soundpath-subwoofer-isolation-system" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - SoundPath Audio Accessories Link');" class="learn-more">Learn More</a>
			</div>
			<div class="col-1-3" data-match-height="sp-col">
				<h5 data-match-height="sp-h"> Dad’s Dream System – Jeeves Speaker and Subwoofer System Builder </h5>
				<a href="/pages/system-builder" class="img-a-wrap cf" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - System Builder Link');" data-match-height="ac-a">
					<img src="{{ 'jeeves-logo-fd-gg.png' | asset_url }}">
				</a>
				<p class="caption" data-match-height="sp-p">
					Not sure what Dad might want? Invite him to try Jeeves, the SVS speaker and subwoofer system builder, which allows him to choose from pre-existing home theater audio systems or custom build his own based on his specific room layout and needs. A 5% discount applies for any order of five or more SVS speakers and subwoofers.
				</p>
				<a href="/pages/system-builder" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - System Builder Link');" class="learn-more">Learn More</a>
			</div>
			<div class="col-1-3" data-match-height="sp-col">
				<h5 data-match-height="sp-h"> Take the Easy Route - Give an SVS Gift Card </h5>
				<a href="/products/gift-card" class="img-a-wrap cf" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - Gift Card Link');" data-match-height="ac-a">
					<img src="https://cdn.shopify.com/s/files/1/0921/3560/files/gift_cert2.png?7447462853342173849">
				</a>
				<p class="caption" data-match-height="sp-p">
					SVS gift cards are available in any denomination and ship the same day you order them. Take the pressure off yourself and give the ultimate freedom of choice with an SVS Gift Card.
				</p>
				<a href="/products/gift-card" onClick="ga('send', 'event', 'Holiday', 'Click', '2017 Father's Day Gift Guide - Gift Card Link');" class="learn-more">Learn More</a>
			</div>
		</div>

	</div>
</section>
