<img src="{{ 'lp-bs-header.jpg' | asset_url }}" class="lp-header-img">

<div class="lp-gen-speakers-2016-wrap">
    <section class="">
        <div class="wrap">
            <div class="series">
                <p>
                    At SVS, we believe world-class audio experiences should be within everyone’s reach. Our bookshelf speakers refute the notion that amazing sound quality has to be ridiculously expensive.
                </p>
                <p>
                    Our Prime and Ultra bookshelf speakers deliver an amazing full-range audio experience that exceeds more expensive models and rivals high-end tower speakers in terms of soundstage and low frequency extension. They can be mounted on stands or placed on surfaces like AV furniture, shelves or desks to save floorspace and are perfect for anchoring a two-channel desktop audiophile system or serving as fronts, surrounds or a center in a multi-channel home theater.
                </p>
                <p>
                    SVS also make it easy for you to research and audition bookshelf speakers at home, because there’s no better place to demo than in your own listening room.
                </p>

                <div class="grid-2">
                    <div class="col-1-2 series">
                        <a href="/pages/speakers#prime-series" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Prime Bookshelf Series');"> <h5> Prime Bookshelf Speakers <span class="italic">$299.99 each</span> </h5> </a>
                        <a href="/pages/speakers#prime-series" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Prime Bookshelf Series');"> <img src="{{ 'lp-prime-bs-series.jpg' | asset_url }}"> </a>
                        <p data-match-height="p1">
                            Hailed by critics as the best bookshelf speakers under $500, the SVS Prime Bookshelf Speakers borrow technology from the Ultra Series to deliver unheard of levels of refinement, accuracy and bass extension. Best performance of the price for all audiophiles and home theater fans.
                        </p>
                        <a href="/pages/speakers#prime-series" class="cta-full-blue cta-align-1" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Prime Bookshelf Series');"> Learn More </a>
                    </div>

                    <div class="col-1-2 series">
                        <a href="/pages/speakers#ultra-series" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Ultra Bookshelf Series');"><h5> Ultra Bookshelf Speakers <span class="italic">$499.99 each</span> </h5> </a>
                        <a href="/pages/speakers#ultra-series" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Ultra Bookshelf Series');"> <img src="{{ 'lp-ultra-bs-series.jpg' | asset_url }}"> </a>
                        <p data-match-height="p1">
                            Every design aspect of the SVS Ultra Bookshelf Speaker was scrutinized to achieve cost-no-object audio performance and build quality. Our flagship Bookshelf model easily outclasses desktop and tower speakers costing far more with incredible resolution, absolute transparency, and amazingly deep, rich and articulated bass.
                        </p>
                        <a href="/pages/speakers#ultra-series" class="cta-full-blue" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Ultra Bookshelf Series');"> Learn More </a>
                    </div>
                </div>
            </div>
            <p class="lp-lfm">
                Interested in tower, center channel, surround, height effect, or satellite speakers? <span class="lb">All models are available on our <a href="/pages/speakers">SVS speaker category page.</a></span>
            </p>
        </div>
    </section>

    <section class="bg-grey">
        <div class="wrap">
            <h3> Here’s what the critics are saying: </h3>
            <div class="grid-2">
                <div class="quotes cf">
                    <blockquote class="col-1-3">
                        <p> “The design, performance, and price make the SVS Ultra Bookshelf the perfect option for the last set of Bookshelf speakers you’ll ever need to purchase. Editor’s Choice.” </p>
                        <p class="attribution"> BestStuff </p>
                    </blockquote>

                    <blockquote class="col-1-3">
                        <p> “Dynamics of a custom theater system, neutrality and ambience of an audiophile system…Certified and Recommended.” </p>
                        <p class="attribution"> Sound&Vision </p>
                    </blockquote>

                    <blockquote class="col-1-3">
                        <p> “SVS Prime Bookshelf speakers are destined to become classics—that's how good they are… I found myself in awe of how transparent these speakers sounded.” </p>
                        <p class="attribution"> AVSForum </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>

  	{% include 'news-ticker-speakers' %}

    <section class="blue-section">
        <div class="wrap">
            <div class="grid-2 merlin-cust">

                <div class="col-1-3" data-match-height="group-3">
                    <h5 data-match-height="heading">
                        <a href="/pages/bill-of-rights" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Bill of Rights');"> 45 Day Risk-Free In-Home Trial, Fast & Free Shipping and Returns </a>
                    </h5>
                    <p data-match-height="group-p">
                        All part of your Customer Bill of Rights, along with other benefits that extend before and after you choose SVS.
                    </p>
                    <a href="/pages/bill-of-rights" data-match-height="group-a" style="display: block;" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Bill of Rights');">
                        <img src="{{ 'lp-bor-ico.png' | asset_url }}" class="lp-bor-img">
                    </a>
                    <a href="/pages/bill-of-rights" class="cta-full-white" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Bill of Rights');"> View your Bill of Rights </a>
                </div>

                <div class="col-1-3 lp-cust" data-match-height="group-3">
                    <h5 data-match-height="heading">
                        <a href="/pages/customer-service" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Sound Experts Support');"> Sound Experts Support </a>
                    </h5>
                    <p data-match-height="group-p">
                        Our Sound Experts support team is available seven days a week to offer guidance on choosing the best subwoofer for your speakers, room layout, personal tastes and more. Reach them via chat, phone (877.626.5623), or email custservice@svsound.com with any AV related questions.
                    </p>
                    <a href="/pages/customer-service" data-match-height="group-a" style="display: block;" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Sound Experts Support');">
                        <img src="https://cdn.shopify.com/s/files/1/0921/3560/files/lp-gen-sound-experts-logo-white_6c224514-1277-42d8-9b9c-0d0fffe3a458.png?14285804381973373788" class="lp-cust-img">
                    </a>
                    <a href="/pages/customer-service" class="cta-full-white" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Sound Experts Support');"> Connect with Sound Experts </a>
                </div>

                <div class="col-1-3 lp-merlin" data-match-height="group-3">
                    <h5 data-match-height="heading">
                        <a href="/pages/speakers" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Compare');"> Find the Perfect Speaker with our Comparison Tool </a>
                    </h5>
                    <p data-match-height="group-p">
                        Compare all SVS speaker dimensions, specifications, finish options, and design characteristics on our speaker category page.
                    </p>
                    <a href="/pages/speakers" data-match-height="group-a" style="display: block;" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Compare');">
                        <img src="{{ 'compare-ico.png' | asset_url }}">
                    </a>
                    <a href="/pages/speakers" class="cta-full-white" onClick="ga('send', 'event', 'Bookshelf Speaker Landing Page', 'Click', 'Compare');"> Compare Speakers </a>
                </div>

            </div>
        </div>
    </section>

</div>
