{% include 'landing_page--header', first_heading: page.metafields.header.first_heading , second_heading: page.metafields.header.second_heading , description_heading: page.metafields.header.description_heading, main_description: page.description %}

<section class="full-column first-section">
    <div class="wrap">

        <h2 class="full-column__heading"> <span>AUDIOPHILE PRECISION, CINEMATIC DYNAMICS, </span>UNPRECEDENTED VALUE. </h2>

        <img src="{{ 'prime-speaker-cat-hero.jpg' | asset_url }}" alt="Expertise + Passion">
    
        <p>
            <strong>Welcome to Prime:</strong> audiophile precision, cinematic dynamics, elegant design. Prime defies convention, granting you access to the high-end audio experiences previously reserved for the few. Clean and accurate, effortless and earthshaking, Prime is pure SVS.
        </p>
        <p>
            Their uncompromising performance was borne of the same philosophy as the critically acclaimed, award-winning Ultra series. In fact, to deliver Prime’s uncompromising audiophile-grade experience at their unprecedented price, we drew deeply on Ultra’s component technology, engineering rigor, and design palette. Like the Ultras, each technical element and cabinet characteristic has been carefully selected, crafted and tuned.
        </p>
        <p>
            They sound extraordinary. And look beautiful in any décor with their modern styling and piano gloss black or black ash-grain vinyl finish. We’re pleased to say Prime is worthy of the SVS name—and more importantly worthy of being invited into your home.
        </p>

    </div>
</section>

<section class="four-up bg-grey">
    <div class="wrap bg-grey">
        <h3> INTRODUCING SVS PRIME </h3>

        <div class="column">
            <h5 class="two-up__subheading"> Prime Tower </h5>
            <a href="/products/prime-tower"><img src="{{ 'prime-tower-cat.jpg' | asset_url }}" alt=""></a>
            <p> Prime Towers are the robust foundation of a great 2-channel or multi-channel system: Refined yet ready-to-rumble, this impressive pair performs at a world-class level. </p>
            <p class="sp-price"> From $499.99 </p>
            <a href="/products/prime-tower" class="learn-more">Shop Now</a>
        </div>

        <div class="column">
            <h5 class="two-up__subheading"> Prime Bookshelf </h5>
            <a href="/products/prime-bookshelf"><img src="{{ 'prime-bs-cat.jpg' | asset_url }}" alt=""></a>
            <p> High-end sound that fits your livingspace. Bookshelf monitors have never sounded better. </p>
            <p class="sp-price"> From $249.99 </p>
            <a href="/products/prime-bookshelf" class="learn-more">Shop Now</a>
        </div>

        <div class="column">
            <h5 class="two-up__subheading"> Prime Center </h5>
            <a href="/products/prime-center"><img src="{{ 'prime-center-cat.jpg' | asset_url }}" alt=""></a>
            <p> Crystal clear dialogue and seamless surround transitions—delivered with world-class precision. </p>
            <p class="sp-price"> From $349.99 </p>
            <a href="/products/prime-center" class="learn-more">Shop Now</a>
        </div>

        <div class="column">
            <h5 class="two-up__subheading"> Prime Satellite </h5>
            <a href="/products/prime-satellite"><img src="{{ 'prime-sat-cat.jpg' | asset_url }}" alt=""></a>
            <p> A fresh approach to satellites—the smallest speaker in our line is engineered to produce deceptively big sound. Never before has a satellite speaker delivered such accurate, convincing, high-end sound. </p>
            <p class="sp-price"> From $134.99 </p>
            <a href="/products/prime-satellite" class="learn-more">Shop Now</a>
        </div>

    </div>
</section>


<section class="two-up bg-white">
    <div class="wrap bg-white">

        <div class="column">
            <h5 class="two-up__subheading"> BORN FROM EXCELLENCE </h5>
            <!-- <a href="/products/soundpath-subwoofer-isolation-system"><img src="{{ 'soundpath-cat-iso.jpg' | asset_url }}" alt=""></a> -->
            <p>
                Spawned from the acclaimed Ultra Series Speakers, the SVS Prime Series was developed through exhaustive new engineering and form factor refinement to achieve true flagship performance at mainstream prices.
            </p>
        </div>

        <div class="column">
            <h5 class="two-up__subheading"> WORLD-CLASS PERFORMANCE, RIGHT AT HOME. </h5>
            <!-- <a href="/products/soundpath-rca-audio-interconnect-cable"><img src="{{ 'soundpath-cat-rca.jpg' | asset_url }}" alt=""></a> -->
            <p>
                Prime was designed to overcome the audio limitations of dual-purpose living/listening spaces. An uncompromising system of high-fidelity speakers —from towers, to revolutionary satellites—the Prime series’ voicing has been expertly matched to create a coherent and world-class soundstage.
            </p>
            <p> With each unit cleverly playing multiple sonic roles, you will finally experience the full musical artistry and cinematic illusion their creators imagined—right in your own home. </p>
        </div>
    
    </div>
</section>

{% include 'landing_page--audition_promo' %}

<section class="two-up bg-grey">
    <div class="wrap bg-grey">
        <div class="column">
            <h5 class="two-up__subheading"> NEED EVEN MORE PERFORMANCE? </h5>
            <a href="/pages/ultra-series"><img src="{{ 'looking-for-more-ultra.jpg' | asset_url }}"></a>
            <a class="learn-more" href="/pages/ultra-series"> Shop our award-winning Ultra Series</a>
        </div>

        <div class="column">
            <h5 class="two-up__subheading"> Complete Prime Speaker Package </h5>
            <a href="/pages/prime-systems"><img src="{{ 'looking-for-more-prime.jpg' | asset_url }}"></a>
            <a class="learn-more" href="/pages/prime-systems"> Shop Complete Prime Packages </a>
        </div>
    </div>
</section>